{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS-->
	{# <link rel="stylesheet" type="text/css" href="{% static 'css/main1.css'%}"> #}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
	<!-- Font-icon css-->
	<link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.css' %}">
	<link rel="shortcut icon" href="{% static 'images/icon.png' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">	
	<link rel="stylesheet" href="{% static 'css/alertify.css' %}">
    <link rel="stylesheet" href="{% static 'iziToast/css/iziToast.min.css' %}">


    <!--<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
	<title>{%block title%}{% endblock title%}</title>
	{% block css %} {% endblock %}
</head>
<body class="sidebar-mini fixed">
	<div class="wrapper">
		<header class="main-header hidden-print" ><a class="logo" href="#">APPGECA</a>
			<nav class="navbar navbar-static-top">
				<a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>
				<div class="navbar-custom-menu">
					<ul class="top-nav">
						<!-- Menu Desplegable De Opciones -->
						<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
			              <ul class="dropdown-menu settings-menu">
			              	{% if request.user.is_secretaria %}
			                	<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-cog fa-lg"></i> Configuracion</a></li>
			              	{% endif %}
							<li><a href="{% url 'auth:auth_password_change' %}"><i class="fa fa-cog fa-lg"></i> Cambiar Contraseña </a></li>
							<li><a href="/logout/"><i class="fa fa-sign-out fa-lg"></i> Salir </a></li>
			              </ul>
			          	</li>
					</ul>
				</div>
			</nav>
		</header>
		<aside class="main-sidebar hidden-print">
			<section class="sidebar">
				<div class="user-panel">
					<div class="pull-left image"><img class="img-circle" src="{% static 'img/avatar-admin.png' %}" alt="User Image"></div>
					<div class="pull-left info">
						<p>{{user.first_name}} {{user.last_name}}</p>
						{% if request.user.is_secretaria %}
						<p class="designation">Administrador</p>
						{% endif %}
						{% if request.user.is_profesor %}
						<p class="designation">Profesor</p>
						{% endif %}
						{% if request.user.is_alumno %}
						<p class="designation">Alumno</p>
						{% endif %}
					</div>
				</div>
				<!-- Sidebar Menu-->
				<ul class="sidebar-menu">
					<li class="active"><a href="/bienvenido/"><i class="fa fa-dashboard"></i><span>Inicio</span></a></li>
					<!-- Menu de la secretaria -->
					{% if request.user.is_secretaria and request.user.is_active %}
						<li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>Registro</span><i class="fa fa-angle-right"></i></a>
							<ul class="treeview-menu">
								<li><a href="{% url 'alumno:alumnoR' %}"><i class="fa fa-circle-o"></i> Registrar Alumno</a></li>
								<li><a href="{% url 'profesor:profesorR' %}"><i class="fa fa-circle-o"></i> Registrar Profesor</a></li>
								<li><a href="{% url 'instrumento:instrumentoR' %}"><i class="fa fa-circle-o"></i> Registrar Instrumento</a></li>
								<li><a href="{% url 'actividad:actividadR' %}"><i class="fa fa-circle-o"></i> Registrar Actividad</a></li>
							</ul>
						</li>
						<li class="treeview"><a href="#"><i class="fa fa-table"></i><span>Listado</span><i class="fa fa-angle-right"></i></a>
							<ul class="treeview-menu">
								<li><a href="{% url 'alumno:list_alumno' %}"><i class="fa fa-circle-o"></i>Lista De Alumnos</a></li>
								<li><a href="{% url 'profesor:list_profesor' %}"><i class="fa fa-circle-o"></i>Lista De Profesores</a></li>
								<li><a href="{% url 'instrumento:list_instrumento' %}"><i class="fa fa-circle-o"></i>Lista De Instrumentos</a></li>
								<li><a href="{% url 'actividad:list_actividades' %}"><i class="fa fa-circle-o"></i>Lista De Actividades</a></li>
								<li><a href="{% url 'profesor:alumno_profesor' %}"><i class="fa fa-circle-o"></i>Lista Alumnos Asignados</a></li>
								<li><a href="{% url 'instrumento:asig_instrumento' %}"><i class="fa fa-circle-o"></i>Lista Instrumentos Asignados</a></li>
							</ul>
						</li>
						<li class="treeview"><a href="#"><i class="fa fa-th-list"></i><span>Movimiento</span><i class="fa fa-angle-right"></i></a>
							<ul class="treeview-menu">
								<li><a href="{% url 'profesor:asig_alumn' %}"><i class="fa fa-circle-o"></i> Asignar Alumno</a></li>
								<li><a href="{% url 'instrumento:asign_alumno' %}"><i class="fa fa-circle-o"></i> Asignar Instrumento</a></li>
							</ul>
						</li>
						<li class="treeview"><a href="#"><i class="fa fa-file-text"></i><span>Reportes</span><i class="fa fa-angle-right"></i></a>
							<ul class="treeview-menu">
								<li><a href="{% url 'reportes:reporte_alumnos' %}"><i class="fa fa-circle-o"></i> Constancia De Estudio</a></li>
							 	<li class="treeview"><a href="#"><i class="fa fa-circle-o"></i><span> Listados</span><i class="fa fa-angle-right"></i></a>
				              	<ul class="treeview-menu">
				                	<li><a href="{% url 'alumno:reporte_alumnos' %}"><i class="fa fa-circle-o"></i> Listado De Alumnos</a></li>
				                	<li><a href="{% url 'profesor:reporte_profesor' %}"><i class="fa fa-circle-o"></i><span> Listado De Profesores</span></a></li>
				                	<li><a href="{% url 'instrumento:reporte_instrumentos' %}"><i class="fa fa-circle-o"></i><span> Listado De Instrumentos</span></a></li>
				              	</ul>
				            	</li>
							</ul>
						</li>
						<li class="treeview"><a href="#"><i class="fa fa-file-text"></i><span>Manual De Usuario</span><i class="fa fa-angle-right"></i></a>
							<ul class="treeview-menu">
								<li><a href=""><i class="fa fa-circle-o"></i> Ayuda</a></li>
							</ul>
						</li>
					{% endif %}

					<!-- Menu Del Profesor -->
					{% if request.user.is_profesor and request.user.is_active %}
						<li class="treeview"><a href="#"><i class="fa fa-th-list"></i><span>Listado</span><i class="fa fa-angle-right"></i></a>
							<ul class="treeview-menu">
								<li><a href="{% url 'profesor:list_alumn' %}"><i class="fa fa-circle-o"></i> Listado De Alumnos</a></li>
								<li><a href="{% url 'actividad:list_actividades' %}"><i class="fa fa-circle-o"></i> Listado De Actividades</a></li>
							</ul>
						</li>
						<li class="treeview"><a href="#"><i class="fa fa-th-list"></i><span>Movimiento</span><i class="fa fa-angle-right"></i></a>
							<ul class="treeview-menu">
								<li><a href="{% url 'profesor:eva_alumn' %}"><i class="fa fa-circle-o"></i> Evaluar Alumno</a></li>
							</ul>
						</li>
						<li class="treeview"><a href="{% url 'reportes:const_trab' user.ci %}"><i class="fa fa-file-text"></i><span>Reportes</span><i></i></a>
						</li>
						<li class="treeview"><a href="#"><i class="fa fa-file-text"></i><span>Manual De Usuario</span><i class="fa fa-angle-right"></i></a>
							<ul class="treeview-menu">
								<li><a href=""><i class="fa fa-circle-o"></i> Ayuda</a></li>
							</ul>
						</li>
					{% endif %}

					<!-- Menu Del Alumno -->
					{% if request.user.is_alumno %}
						<li class="treeview"><a href="#"><i class="fa fa-file-text"></i><span>Reportes</span><i class="fa fa-angle-right"></i></a>
							<ul class="treeview-menu">
								<li><a href="{% url 'reportes:const_asign' alumno.pk %}"><i class="fa fa-circle-o"></i> Constancia De Estudio</a></li>
							</ul>
						</li>
						<li class="treeview"><a href="#"><i class="fa fa-file-text"></i><span>Manual De Usuario</span><i class="fa fa-angle-right"></i></a>
							<ul class="treeview-menu">
								<li><a href=""><i class="fa fa-circle-o"></i> Ayuda</a></li>
							</ul>
						</li>
					{% endif %}
				</ul>
			</section>
		</aside>

		<!-- Modal De Opciones -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel" align="center">Configuracion De Usuarios</h4>
					</div>
					<div class="modal-body" align="center">
						<a href="{% url 'auth:list' %}" class="btn btn-primary" type="submit"> Lista De Usuarios </a>
						<a href="{% url 'auth:pro_activate' %}" class="btn btn-primary" type="submit"> Activar Profesor </a>
						<!-- <a href="#" class="btn btn-primary" type="submit"> Activar Alumno </a> -->
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>

{% block content%}
{% endblock content %}
<!-- Essential javascripts for application to work-->
<script src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/plugins/pace.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>

<!-- Page specific javascripts-->
<script type="text/javascript" src="{% static 'js/plugins/bootstrap-notify.min.js'%}"></script>


<script src="{% static 'js/plugins/pace.min.js'%}"></script>
<script src="{% static 'js/plugins/select2.min.js'%}"></script>
<script src="{% static 'js/mensajes.js'%}"></script>
<script src="{% static 'iziToast/js/iziToast.min.js' %}"></script>

{% if message == "" %}
  <script>error('{{ message }}')</script>
{% endif %}
{% block javascript %}
<!-- Javascripts-->
{% endblock %}
</body>
</html>
