{% extends  'base_admin.html' %}
{%block title%}Listado De Usuarios{% endblock title%}
{% load staticfiles %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1>Lista De Usuarios</h1>
      <ul class="breadcrumb side">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li class="active">Usuarios</li>
      </ul>
    </div>
    <div><a class="btn btn-primary btn-flat" href="/add/"><i class="fa fa-lg fa-plus"></i></a></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-body">
            <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="row">

                <div class="col-sm-12">
                  <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                    <thead>
                      <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 69px;">Cedula</th>
                        <th> Editar </th>
                        <th> Eliminar </th>
                      </thead>

                      <tbody>
                        {% if object_list %}
                        {% for Users in object_list %}
                        <tr class="odd">
                          <td>{{ Users.ci }}</td>
                          <td td class="active"><a href="{% url 'auth:update' Users.ci %}"  class="btn btn-info" >Editar</a>
                            <td class="active"><a href="{% url 'auth:delete' Users.ci %}" class="btn btn-danger">Eliminar</a></td>
                          </tr>
                          {% endfor %}
                          {% else %}
                          <td valign="top" colspan="3" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                          {% endif %}  
                        </tbody></table></div></div>
                      </div>              </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </body>
{% endblock content %}