{% extends  'base_admin.html' %}
{%block title%}Nuevo Usuario{% endblock title%}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i> Nuevo Usuario</h1>
      <p>Formulario Para El Registro De Un Nuevo Usuario</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li>Registro</li>
        <li><a href="#">Usuario</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-6">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST">{% csrf_token %}
                {{form.as_tb}}
                <fieldset>
                  <legend>Registro</legend>

                  <div class="title-flat-form"><h1>ACTUALIZAR EL USUARIO</h1></div>
                  <div class="FormGroup">
                    {% for field in form %}
                    <div class="FormGroup">
                      {{ field.label_tag }}
                      {{ field }}
                      {{ field.errors }}
                    </div>
                    <div class="FormGroup">
                      {% endfor %}

                  <div class="FormGroup">
                    <button class="btn btn-primary" type="submit" href="#" value="siguiente">Actualizar</button>
                  </div>
                </fieldset></form></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}