{% extends  'base_admin.html' %}
{%block title%}Eliminar Usuario{% endblock title%}
{% load staticfiles %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i> Eliminar Usuario</h1>
    </div>
    <div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-6">
            <div class="well bs-component">
              <div class="Alumno">
                <form method="POST" action="">
                  {% csrf_token %}
                  <h3 align="center">Seguro que desea eliminar a: {{ object.first_name }} {{ object.last_name }} </h3>
                  <div align="center">

                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"> Eliminar </button>
                    <a href="/list_user/" class="btn btn-default">Volver</a>
                  </div>

                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel" align="center">Advertencia</h4>
                        </div>
                        <div class="modal-body">
                          <h3 class="text-danger" align="center">
                            Esta Seguro Que Desea Eliminar Al Siguiente Usuario: {{ object.first_name }} {{ object.last_name }}
                          </h3>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-danger" type="submit"> Eliminar </button> 
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}