{% extends  'base_admin.html' %}
{%block title%}Nuevo Usuario{% endblock title%}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i> Nuevo Usuario</h1>
      <p>Formulario Para El Registro De Un Nuevo Usuario</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li>Registro</li>
        <li><a href="#">Usuario</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-6">
            <div class="well bs-component">
              <form class="form-horizontal" name="auth" method="POST">{% csrf_token %}
                <fieldset>
                  <legend>Registro</legend>

                  <div class="title-flat-form"><h1>REGISTRA LA INSCRIPCION</h1></div>
                  <hr>
                  <div class="title-flat-form">
                    <h3>Datos Personales</h3>
                    <br>
                  </div>
                    {{ form.ci.label_tag }}
                    <input autofocus="" id="id_ci" maxlength="8" name="ci" onKeyPress="return SoloNumeros(event);" onkeyup="copiar()" value="" class="form-control" required="">
                    
                    {{ form.username.label_tag }}
                    <input id="id_username" maxlength="40" name="username" type="text" class="form-control">

                    {{ form.first_name.label_tag }}
                    <input id="id_first_name" maxlength="40" name="first_name" type="text" class="form-control" required="" onkeypress="return soloLetras(event);">

                    {{ form.last_name.label_tag }}
                    <input id="id_last_name" maxlength="40" name="last_name" type="text" class="form-control" required="" onkeypress="return soloLetras(event);">

                    {{ form.email.label_tag }}
                    <input id="id_email" maxlength="254" name="email" type="email" class="form-control" required="">
                    
                    {% if form.password.is_hidden and form.password2.is_hidden %}
                      {{ form.password.label_tag }}
                      <input type="password" class="form-control" value="{{ ci }}" disabled="" name="pass1" id="id_password">
                  

                      {{ form.password2.label_tag }}
                      <input type="password" class="form-control" value="{{ ci }}" disabled="" name="pass2" id="id_password2">
                    {% endif %}
                    
                    <hr> 
                    <div class="titlle-flat-form">
                      <h3>Permisos</h3>
                      <br>
                    </div>

                    <ul>  
                      <div class="animated-checkbox">
                      {{ form.is_secretaria.label_tag }}
                        <label>
                          <input type="checkbox" id="id_is_secretaria" onclick="habilitarCincoTextBox()"
                           name="is_secretaria"><span class="label-text"></span>
                        </label>
                      </div>
                    </ul>
                    <ul>
                      <div class="animated-checkbox">
                      {{ form.is_profesor.label_tag }}
                        <label>
                          <input type="checkbox" id="id_is_profesor" name="is_profesor" onclick="habilitarCincoTextBox2()"><span class="label-text"></span>
                        </label>
                      </div>
                    </ul>
                    <ul>
                      <div class="animated-checkbox">
                      {{ form.is_alumno.label_tag }}
                        <label>
                          <input type="checkbox" onclick="habilitarCincoTextBox3()" id="id_is_alumno" name="is_alumno"><span class="label-text"></span>
                        </label>
                      </div>
                    </ul>
                    <hr>
                    <ul>
                      <div class="animated-checkbox">
                      {{ form.is_superuser.label_tag }}
                        <label>
                          <input type="checkbox"  id="id_is_superuser" name="is_superuser" disabled><span class="label-text"></span>
                        </label>
                      </div>
                    </ul>
                    <ul>
                      <div class="animated-checkbox">
                      {{ form.is_staff.label_tag }}
                        <label>
                          <input type="checkbox" id="id_is_staff" name="is_staff" disabled><span class="label-text"></span>
                        </label>
                      </div>
                    </ul>
                    <hr>
                    {% if form.errors %}
                      <div class="alert alert-dismissible alert-danger">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                        <h4>Alerta!</h4>
                        {{ form.errors }}
                      </div>
                    {% endif %}
                    <button class="btn btn-primary">crear</button>
                </fieldset></form></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}