{% extends 'base_reportes.html' %}

{% load staticfiles %}

{% block content %}
<style>
  .imagen{
    zoom: 95%;
    width: 1000px;
    margin-bottom: 0.12cm;
  }
  .reporte{
    margin: 1cm;
    margin-left: 0.5cm;
    margin-right: 2cm;
    margin-bottom: 0.4cm;
  }
  .card{
    width: 1000px;
    height: 800px;
  }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
    font-size: 18px;
  }
</style>
<div class="reporte card">
  <div class="Topbanner">
    <img src="{%static 'img/banner.png' %}" class="imagen" alt="">
      <h1 class="Title">Constancia De Trabajo </h1>

  </div>


  <div class="Page col-lg-12">
  <br>
    <p class="content">
      {% if request.user.is_secretaria %}El suscrito <strong class="bold">{{ request.user.get_full_name }}</strong> titular de la cedula de identidad
      <strong class="bold">{{ request.user.ci }}</strong>, en mi condición de Coordinador(a) de la Orquesta Sinfonica Simon Bolivar en el
      Municipio Guanare, hago constar, que el ciudadano(a){% endif %} <strong class="bold">{{ profesor.get_full_name }}</strong>,
      Titular de la cedula de identidad <strong class="bold">{{ profesor.cedula_profesor }}</strong>, es profesor bajo el siguiente instrumento <strong>{{ profesor.asignacion }}</strong> en <strong class="bold">LA ORQUESTA SINFONICA SIMON BOLIVAR DEL ESTADO PORTUGUESA</strong>
    </p>

      <br>
      <br>

      <p class="content-pOne">
        <i>
          “Bolívar: no araste en el mar, aquí estamos haciendo realidad el sueño
          de una gran Patria Venezuela y la unidad de América Latina en un mundo
          en equilibrio y en paz”
        </i>

        <br><br>

        Agradeciendo la atención que pueda prestar a nuestra gestión;
      </p>

      <br>

      <p class="content-pTwo">
        Constancia que se expide a petición de la parte interesada, en Guanare, a los {{ dia }} días del mes {{ mes }} del año {{ ano }}.
      </p>

      <br>
      <br>

      <p class="content-pTree">
        <strong class="bold">ATENTAMENTE;</strong> <br><br>
        <strong class="bold">_____________________________</strong> <br>
        <strong>{% if request.user.is_secretaria %}{{ user.get_full_name }}{% endif %} <br>
        SECRETARIA DE LA ORQUESTA SINFONICA DEL ESTADO PORTUGUESA<br>
        EDO GUANARE<br></strong>
      </p>

    </p>

    <br>
    <br>
    <br>

    
    
  </div>
  <br><br><br><br><br><br>
<div class="col-xs-12 text-right"><a class="btn btn-primary" href="javascript:window.print();" target="reporte"><i class="fa fa-print"></i> Imprimir</a></div>
</div>



{% endblock content %}