{% extends 'base_reportes.html' %}
z
{% load staticfiles %}

{% block content %}
<style>
    @page {
    size: letter;
    margin: 1cm;
    margin-top: 1.5cm;
    margin-right: 1.5cm;
    margin-left: 1.5cm;
    margin-bottom: 1cm;
    }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
</style>
<div class="reporte">
  <div class="Topbanner">
    <img src="static/img/banner.png" class="imagen" alt="">
      <h1 class="Title" style="font-size: 22px;">Constancia De Estudio </h1>

  </div>


  <div class="Page col-lg-12">

    <p class="content" style="font-size: 14px;" align="justify">
      El suscrito <strong>{{ request.user.get_full_name|title }}</strong> titular de la cedula de identidad
      <strong class="bold">{{ request.user.ci }}</strong>, en mi condición de Coordinador de la Orquesta Sinfonica Simon Bolivar en el
      Municipio Guanare, hago constar, que el ciudadano(a) <strong class="bold">{{ alumn.get_full_name|title }}</strong>,
      Titular de la cedula de identidad <strong class="bold">{{ alumn.cedula_alumno }}</strong>, es estudiante de
      <strong class="bold">LA ORQUESTA SINFONICA SIMON BOLIVAR DEL ESTADO PORTUGUESA.</strong>
    </p>

      <br>
      <br>

      <p class="content-pOne" style="font-size: 14px," align="justify">
        <i>
          “Bolívar: no araste en el mar, aquí estamos haciendo realidad el sueño
          de una gran Patria Venezuela y la unidad de América Latina en un mundo
          en equilibrio y en paz”
        </i>

        <br><br>

      </p>

      <br>

      <p class="content-pTwo" style="font-size: 14px;" align="justify">
        Constancia que se expide a petición de la parte interesada en Guanare, a los {{ dia }} días del mes {{ mes }} del año {{ ano }}.
      </p>

      <br>
      <br>
    
      <p class="content-pTree" style="font-size: 14px;" align="center">
        <strong class="bold">ATENTAMENTE:</strong> <br><br>
        <strong class="bold">_____________________________</strong> <br>
        <b>{{ request.user.get_full_name }}</b> <br>
        SECRETARIA DE LA ORQUESTA SINFONICA DEL ESTADO PORTUGUESA<br>
        EDO GUANARE<br>
      </p>
    </p>

    <br>
    <br>
    <br>

    
</div>



{% endblock content %}