{% extends 'base_reportes.html' %}
z
{% load staticfiles %}

{% block content %}
<style>
    @page {
    size: letter;
    margin: 1cm;
    margin-top: 1.5cm;
    margin-right: 3cm;
    margin-left: 3cm;
    margin-bottom: 2.5cm;
    }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
</style>
<div class="reporte">
  <div class="Topbanner" id="hola">
    <img src="static/images/header.png" alt="">
<br>
<br>
      <h1 class="Title" style="font-size: 22px;">Constancia </h1>
  </div>

  <div class="Page col-lg-12">

    <p class="content" style="font-size: 15px;" align="justify">
      Quien suscribe, Lcd. <strong>{{ request.user.get_full_name|title }}</strong> titular de la cedula de identidad
      <strong class="bold">{{ request.user.ci }}</strong>, Coordinador(a) de la Orquesta Sinfonica y Coros Juveniles e Infantiles de Guanare, hago constar, que el Joven <strong class="bold">{{ alumn.get_full_name|title }}</strong>,
      Titular de la cedula de identidad <strong class="bold">{{ alumn.cedula_alumno }}</strong>, es Integrante regular de nuestra Institución e Integrante de "Orquesta Sinfónica Regional Juvenil"
    </p>

      <br>

      <p class="content-pTwo" align="justify" style="font-size: 15px">
        Constancia que se expide a petición de la parte interesada, en Guanare el {{ date|date }}.
      </p>

      <br>
      <br>
    
      <p class="content-pTree" style="font-size: 15px;" align="center">
        <strong class="bold">ATENTAMENTE:</strong> <br><br>
        <strong class="bold">_____________________________</strong> <br>
        <b>Lcd. {{ request.user.get_full_name|title }}</b> <br>
        Coordinadoro(a) del Nucleo
        Telefono 0257-2517614
        <br>
      </p>
    </p>

    <br>
    <br>
    <br>

    
</div>



{% endblock content %}