{% extends 'base_reportes.html' %}
{% block content %}
<style>
    @page {
    size: letter;
    margin: 1cm;
    margin-top: 1.5cm;
    margin-right: 1.5cm;
    margin-left: 1.5cm;
    margin-bottom: 1cm;
    }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
</style>
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <section class="invoice">
          <div class="row">
            <div class="col-xs-12">
              <img src="static/img/banner.png" class="imagen" alt="">
              <h2 class="page-heade" align="center">Evaluaciones Del Alumno {{ evaluado.asignados }}</h2>
              <p align="right"><b>{% now "d/F/Y" %}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                    <thead>
                      <tr role="row" style="border: 1px solid black; padding: 1 1 1 1px; font-weight: bold;">
                        <th style="background-color: #22bbaa; font-size: 11px;">Fecha De Evaluacion</th>
                        <th style="background-color: #22bbaa; font-size: 11px;">Descripcion</th>
                        <th style="background-color: #22bbaa; font-size: 11px;">Ponderacion</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for evaluado in evaluados %}
                      <tr class="row" style="border: 1px solid black; text-align: center; padding: 1 1 1 1px;">
                          <th>{{ evaluado.fecha }}</th>
                          <th>{{ evaluado.descripcion }}</th>
                          <th>{{ evaluado.examen }}</th>
                      </tr>
                      {% endfor %}
                    </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}  