{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ERROR 404</title>
  
  </head>
  <body>
    <div class="page-error">
      <h1><i class="fa fa-exclamation-circle"></i> ERROR 404</h1>
      <p>LA PAGINA SOLICITADA NO EXISTE</p>
    </div>
  </body>
  <script src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/plugins/pace.min.js'%}"></script>
  <script src="{% static 'js/main.js'%}"></script>
</html>