{% extends 'base_reportes.html' %}
{% block content %}
<style>
    @page {
    size: letter;
    margin: 1cm;
    margin-top: 1.5cm;
    margin-right: 1.5cm;
    margin-left: 1.5cm;
    margin-bottom: 1cm;
    }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
</style>
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <section class="invoice">
          <div class="row">
            <div class="col-xs-12">
              <img src="static/images/header.png" alt="">
              <h2 class="page-heade" style="font-size: 15px;" align="center">Listado de los alumnos del profesor {{ request.user.get_full_name|title }}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                 <thead>
                      <tr role="row">
                        <th style="border: 1px solid black; padding: 1 1 1 1px; background-color: brown; font-size: 13px;">Nombre</th>
                        <th style="border: 1px solid black; padding: 1 1 1 1px; background-color: brown; font-size: 13px;">Apellido</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for asignados in object_list%}
                        <tr class="odd">
                          <th style="padding: 1 1 1 1px; border: 1px solid black; font-size: 12px;">{{ asignados.alumno.primer_nombre|title }}</th>
                          <th style="padding: 1 1 1 1px; border: 1px solid black; font-size: 12px;">{{ asignados.alumno.primer_apellido|title }}</th>
                        </tr>
                      {% empty %}
                      <td valign="top" colspan="2" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                      {% endfor %}
                    </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}  