{% extends 'base_reportes.html' %}
{% block content %}
<style>
    @page {
    size: letter;
    margin: 1cm;
    margin-top: 1.5cm;
    margin-right: 1.5cm;
    margin-left: 1.5cm;
    margin-bottom: 1cm;
    }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
</style>
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <section class="invoice">
          <div class="row">
            <div class="col-xs-12">
              <img src="static/img/banner.png" class="imagen" alt="">
              <h1 align="center">Listado De Los Instrumentos</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                  <thead>
                    <tr role="row" style="border: 2px solid black; padding: 1 1 1 1px; text-align: center; font-weight: 400; font-size: 14px;">
                    <th >Nombre</th>
                    </tr>
                <tbody>
                {% if instrumento %}
                {% for object_list in instrumento %}
                <tr class="odd" style="border: 1px solid black; padding: 1 1 1 1px; text-align: center; font-size: 12px;">
                  <td>{{ object_list.nombr_instr|title }}</td>
                  </tr>
                {% endfor %}
                {% else %}
                <td align="center">No hay instrumentos registrados</td>
                {% endif %}  
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}  