{% extends 'base_reportes.html' %}
{% block content %}
<style>
    @page {
    size: letter;
    margin: 1cm;
    margin-top: 1.5cm;
    margin-right: 1.5cm;
    margin-left: 1.5cm;
    margin-bottom: 1cm;
    }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
</style>
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <section class="invoice">
          <div class="row">
            <div class="col-xs-12">
              <img src="static/img/banner.png" class="imagen" alt="">
              <h2 class="page-heade" align="center">Listado De Los Alumnos</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                    <thead>
                      <tr role="row" style="border: 1px solid black; padding: 1 1 1 1px; font-weight: bold;">
                        <th style="background-color: red;">Cedula</th>
                        <th style="background-color: red;">Nombre</th>
                        <th style="background-color: red;">Apellido</th>
                        <th style="background-color: red;">Sexo</th>
                        <th style="background-color: red;">Fecha De Nacimiento</th>
                        <th style="background-color: red;">Institucion</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for object_list in alumno %}
                      <tr class="row" style="border: 1px solid black; text-align: center; padding: 1 1 1 1px;">
                        <td style="background-color: red;">{{ object_list.cedula_alumno|title }}</td>
                        <td>{{ object_list.primer_nombre|title }}</td>
                        <td>{{ object_list.primer_apellido|title }}</td>
                        <td>{{ object_list.sexo_alumno|title }}</td>
                        <td>{{ object_list.fecha_nacimiento|date:"d F Y" }}</td>
                        <td>{{ object_list.institucion|title }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}  