{% extends 'base_reportes.html' %}
{% block content %}
<style>
    @page {
    size: letter;
    margin: 1cm;
    margin-top: 1.5cm;
    margin-right: 1.5cm;
    margin-left: 1.5cm;
    margin-bottom: 1cm;
    }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
</style>
<div class="content-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <section class="invoice">
          <div class="row">
            <div class="col-xs-12">
              <img src="static/img/banner.png" class="imagen" alt="">
              <h1 align="center">Listado De Los Profesores</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr role="row" style="border: 1px solid black; padding: 1 1 1 1px; font-size: 14px; font-weight: 400;">
                    <th style="background-color: brown; font-size: 14px;">Cedula</th>
                    <th style="background-color: brown; font-size: 14px;">Nombre</th>
                    <th style="background-color: brown; font-size: 14px;">Apellido</th>
                    <th style="background-color: brown; font-size: 14px;">Asignacion</th>
                  </tr>
                </thead>
                <tbody>
                  {% if profesor %}
                  {% for object_list in profesor %}
                  <tr class="odd" style="border: 1px solid black; padding: 1 1 1 1px; text-align: center; font-size: 12px;">
                    <td>{{ object_list.cedula_profesor|title }}</td>
                    <td>{{ object_list.nombre_profesor|title }}</td>
                    <td>{{ object_list.apellido_profesor|title }}</td>
                    <td>{{ object_list.asignacion|title }}</td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <td align="center">No hay Profesores Registrados</td>
                  {% endif %}  
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}  