{% extends 'base_admin.html' %}
{% load staticfiles %}
{% block title %}Asignacion Instrumento{% endblock title %}
{% load widget_tweaks %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i> Asignando Instrumento</h1>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li>Asignando</li>
        <li><a href="{% url 'instrumento:asig_instrumento' %}">Instrumento</a></li>
      </ul>
    </div>
  </div>
  <div class="alert">
    {{ message }}
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST">{% csrf_token %}
                <fieldset>
                  <legend>Registro</legend>

                  <div class="FormGroup">
                  	<div class="col-md-6">
	                    <label class="text-danger">Nombre Del Instrumento</label>
	                    {{ form.instrumento|add_class:'form-control' }}
	                    {{ form.instrumento.errors }}
                  	</div>
                  
                    <div class="col-md-6">
                      <label class="text-danger">Alumno</label>
                      <div class="form-group floating-label ">
                      {{form.alumno|add_class:'js-example-basic-multiple'| attr:'id:alumno'}}
                      </div>
                  </div>

                  <div class="FormGroup">
                  	<div class="col-md-12">
                  		<label class="text-danger">Descripción</label>
                  		{{ form.descripcion|add_class:'form-control'|attr:'placeholder:Estado Del Instrumento'|attr:'style: resize: none;'|attr:'rows:4' }}
                  	</div>
                  </div>

                  <div class="FormGroup">
                  	<div class="col-md-4">
                  		<label class="text-danger">Fecha De Entrega</label>
                  		{{ form.fecha_entrega|add_class:'form-control'|attr:'id:demoDate'|attr:'placeholder:Fecha De Entrega Del Instrumento'|attr:'onkeypress:return valida(event);' }}
                  	</div>
                  </div>
                    <hr>
                    {% if form.alumno.errors %}
                    <div class="alert alert-dismissible alert-danger">
                      <button class="close" type="button" data-dismiss="alert">×</button>
                      <h4>Alerta!</h4>
                        <p>Este Alumno ya ha sido asignado con otro Instrumento.</p>
                    </div>
                    {% endif %}
                    {% if form.fecha_entrega.errors %}
                    <div class="alert alert-dismissible alert-danger">
                      <button class="close" type="button" data-dismiss="alert">×</button>
                      <h4>Alerta!</h4>
                        <p>Este Ingrese Una Fecha Valida.</p>
                    </div>
                    {% endif %}
                    <div class="col-md-12">
	                    <button class="btn btn-primary col-md-12"> 	enviar </button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/forms.js'%}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
  <script>
    $('#demoDate').datepicker({
      format: "dd/mm/yyyy",
      autoclose: true,
      todayHighlight: true
    });
  </script>
{% endblock javascript %}