{% extends  'base_admin.html' %}
{%block title%}Listado De Instrumentos{% endblock title%}
{% load staticfiles %}
{% block content %}
      <div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1>Inventario De Instrumentos</h1>
            <ul class="breadcrumb side">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li>Listado</li>
              <li class="active"><a href="#">Inventario</a></li>
            </ul>
          </div>
        {% if request.user.is_secretaria %}
          <div><a class="btn btn-primary btn-flat" href="/nuevo_instrumento/"><i class="fa fa-lg fa-plus"></i></a></div>
        {% endif %}
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                <div class="col-sm-6">
                  
                </div>
                <div class="row">
                <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column descending" style="width: 89px;" aria-sort="ascending">Nombre</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Stock Minimo</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Stock Maximo</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Disponibles</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Cantidad En Uso</th>
                    </tr>
                <tbody>
                {% if object_list %}
                {% for instrumento in object_list %}
                <tr class="odd">
                  <td>{{ instrumento.nombr_instr }}</td>
                  <td>{{ instrumento.stock_min }}</td>
                  <td>{{ instrumento.stock_max }}</td>
                  <td>{{ instrumento.disponibles }}</td>
                  <td>{{ instrumento.uso }}</td>
                  </tr>
                {% endfor %}
                {% else %}
                  <td valign="top" colspan="2" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                {% endif %}  
                </tbody></table></div></div>
                  </div>              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}