{% extends  'base.html' %}
{%block title%}Programa Alma Llanera.{% endblock title%}
{% load staticfiles %}

{% block content %}    
    <div class="container">
        
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                  <div class="starter-template">
                      <hr>  
                        <h1 class="intro-text text-center titulo"><strong>Programa Alma Llanera.</h1>
                        </strong>
                      <hr>
                  </div>
                </div>
                <div class="card">
                    <p class="hola-1" align="justify">Desde su fundación en 1975 El Sistema ha puesto especial énfasis en el conocimiento y la difusión de la música tradicional venezolana, dando a conocer el nutrido repertorio tradicional y conformando multiplicidad de ensambles dedicados a estos géneros musicales.    
                    Esta labor de vocación nacionalista, se sistematizó e intensificó a partir del inicio del Programa Alma Llanera. Su fundamento es la iniciación, desarrollo y profundización del estudio, así como la difusión de la música folclórica venezolana, a través de una estructura pedagógica y artística que copia el modelo académico y filosófico de El Sistema. Entre los principales objetivos de este programa, está el de rescatar instrumentos venezolanos considerados en extinción, como es el caso del Carrizo, así como la transcripción, difusión y valoración de obras del repertorio tradicional nacional que, en su mayoría, han sido transmitidas hasta nuestros días de forma oral. Con esta labor de rescate, se han podido transcribir a la partitura al menos 40 composiciones del acervo musical nacional.
                    A través de este programa, los niños y jóvenes de todos los núcleos de El Sistema, a nivel nacional, cuentan con la posibilidad de estudiar los instrumentos musicales venezolanos, tales como cuatro, guitarra, bandola, mandolina, arpa criolla, maracas y bajo popular, a través del plan de estudios académicos, guiados y vinculados directamente con los cultores de dicho género. Actualmente cuenta con 73 agrupaciones, entre orquestas típicas y ensambles, que hacen música representativa de la diversidad musical de Venezuela y de cada región.
                    </p>
                        
                    <p class="hola-1" align="justify">
                    El Programa Alma Llanera conjuga los esquemas de la enseñanza musical tradicional con la visión de la práctica colectiva de la música, cultivando así el acervo musical de las diversas regiones del país y difundiendo la música autóctona venezolana mediante recitales, conciertos, y festivales.

                    “Esperé 50 años de mi vida para escuchar una orquesta infantil y juvenil como esta del Programa Alma Llanera, la cual está llena de frescura y tradición. El Sistema de Orquestas y Coros Juveniles e Infantiles es lo más maravilloso que le ha pasado a la música en Venezuela. Este Programa representa el futuro de la música venezolana y estoy contento porque estos niños están conociendo toda mi obra musical y la de todos mis compañeros folcloristas”. Juan Vicente Torrealba. Compositor, arpista, folclorista venezolano.
                
                    </p>

                </div>

                      <div class="card">
                        <p class="hola-1" align="justify">
                            <big><b>Bondandes y Beneficios: <br></big></b>

                            -Refuerza la identidad y el sentimiento nacionalista. <br>
                            -Rescata y valora el folclore y las tradiciones musicales venezolanas. <br>
                            -Anima el trabajo de creadores y arreglistas del género. <br>
                            -Reconoce y honra la labor de los cultores y folcloristas. <br>
                        </p>
                      </div> 

            </div>
        </div>
    </div>
{% endblock content %}
