{% extends  'base.html' %}
{%block title%}Clarinete.{% endblock title%}
{% load staticfiles %}
{% block content %}    
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    
                <div class="starter-template">
                    <hr>
                        <h1 class="intro-text text-center titulo"><strong>Clarinete.</strong></h1>
                    <hr>
                </div>
                  <div class="card">                    <p class="hola-1" align="justify">Es un instrumento musical de la familia de los instrumentos de viento-madera que consta de una boquilla con caña simple. Dentro de la orquesta, se encuentra en la sección del viento-madera, junto a la flauta, el oboe y el fagot.
                    </p>
                        
                    <p class="hola-1" align="justify">
                    El clarinete pertenece a la familia de los vientos de madera, al igual que la flauta, el oboe y el fagot. Es un aerófono de lengüeta simple. La lengüeta está hecha de caña de la especie Arundo donax. El cuerpo del instrumento puede estar hecho de madera (tradicionalmente de ébano o granadillo),1​ ​ebonita,2​ ​ ABS o metal y su perfeccionamiento, en el siglo XIX, con un sistema de llaves mejorado lo situó en un lugar privilegiado entre los instrumentos. La belleza de su timbre lo hace apto para interpretar pasajes como solista además de ser un instrumento de enorme agilidad y sonoridad, en especial para la ejecución de trinos y cromatismos. Aunque los amantes de su sonido lo clasifican como un instrumento musical independiente, es una subclasificación de uno de los instrumentos más conocidos: la flauta.
                
                    </p>

                </div>

                      <div class="card">
                        <p class="hola-1" align="justify">
                            <big><b>Bondandes y Beneficios: <br></big></b>

                            -Refuerza la identidad y el sentimiento nacionalista. <br>
                            -Rescata y valora el folclore y las tradiciones musicales venezolanas. <br>
                            -Anima el trabajo de creadores y arreglistas del género. <br>
                            -Reconoce y honra la labor de los cultores y folcloristas. <br>
                        </p>
                      </div> 

                   	<div class="card">
                   		<p class="hola-1" align="justify">
                   			<big><b>Partes del Clarinete:</b></big> <br>
							<b>-Boquilla:</b> es la pieza donde va colocada la caña y el instrumentista coloca la boca para realizar la embocadura. <br>
							<b>-Barrilete:</b> es el elemento que articula la boquilla con el cuerpo superior del instrumento. <br>
							<b>-Cuerpo superior:</b> es donde se coloca la mano izquierda al tocar y posee parte del mecanismo del instrumento. <br>
							<b>-Cuerpo inferior:</b> es donde se coloca la mano derecha al tocar y posee parte del mecanismo del instrumento. <br>
							<b>-Campana:</b> situada en la parte inferior y cumple una función acústica que permite la proyección del sonido durante la ejecución.
                   		</p>
                   	</div>

            </div>
        </div>
    </div>
{% endblock content %}
