{% extends  'base.html' %}
{%block title%}Percusión.{% endblock title%}
{% load staticfiles %}

{% block content %}    
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    
                <div class="starter-template">
                    <hr>
                        <h1 class="intro-text text-center titulo"><strong>Percusión.</strong></h1>
                    <hr>
                </div>
                  <div class="card">
                    
                    <p align="justify" class="hola-1">Un instrumento de percusión es un tipo de instrumento musical cuyo sonido se origina al ser golpeado o agitado. Es, quizá, la forma más antigua de instrumento musical. <br>

                    La percusión se distingue por la variedad de timbres que es capaz de producir y por su facilidad de adaptación con otros instrumentos musicales. Cabe destacar que puede obtenerse una gran variedad de sonidos según las baquetas o mazos que se usan para golpear algunos de los instrumentos de percusión. <br>

                    Un instrumento de percusión puede ser usado para crear patrones de ritmos (batería, tam-tam entre otros) o bien para emitir notas musicales (xilófono). Suele acompañar a otros con el fin de crear y mantener el ritmo. Unos de los instrumentos de percusión más famosos son el tambor y la batería. <br> 
                    </p>    
                  </div>
                    
                  <div class="card">
                    
                    <p align="justify" class="lead">
                    <strong>
                        <h2>Clasificación</h2>
                    </strong>
                        <p align="justify " class="hola-1">
                            
                        Los instrumentos de percusión pueden clasificarse en dos categorías según la afinación: <br><br>

                        -De altura definida (afinados): Los que producen notas identificables. Es decir, aquellos cuya altura de sonido está determinada. <br>
                        Algunos son: el timbal, el vibráfono, la campana, la campana tubular, los tambores metálicos de Trinidad o el Glockenspiel, que es como un xilófono pero con láminas de metal. <br><br>
                        -De altura indefinida (no afinados): Los que producen notas no identificables, es decir, producen notas de una altura indeterminada. <br>
                        Entre ellos están: el bombo, la caja, el cajón, el afuche, las castañuelas, las claves, el cencerro, el címbalo, el güiro, la matraca, la zambomba, el vibraslap, la quijada, la batería, la tuntaina o las maracas. <br><br>

                        En las orquestas se suele diferenciar entre: <br><br>

                        -Percusión de parche <br>
                        -Percusión de láminas <br>
                        -Pequeña percusión <br><br>
                        Según otro criterio, se pueden clasificar en cuatro categorías que son: <br><br>

                        -Membranófonos , que utilizan una membrana tensada o un poco suelta. <br>
                        -Micrófonos, que añaden timbre al sonido del golpe. <br>
                        -Idiófonos, que suenan por sí mismos, como el triángulo. <br>
                        -Placófono, placas metálicas que entrechocan. <br><br>
                        Esta clasificación tampoco es estricta, por ejemplo, la pandereta es un membranófono y un idiófono porque tiene ambos, en la piel y en los cascabeles. <br>
                        </p>
                    </p>
                  </div> 

            </div>
        </div>
    </div>
{% endblock content %}
