{% extends 'base_admin.html' %}

{%block title%}Actualizar Actividad{% endblock title%}

{% load widget_tweaks %}

{% load staticfiles %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i> Actualizar Actividad</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST">{% csrf_token %}
                <fieldset>
                  <legend>Registro</legend>

                  <div class="FormGroup">
                    <div class="col-md-12">
                      <div class="nombre">
                        <label class="text-danger">Nombre De La Actividad</label>
                        {{ form.nombr_acti | add_class:'form-control' | attr:"autocomplete:off" | attr:"placeholder:Ingrese Nombre De La Actividad" }}
                      </div>
                    </div>
                  </div>

                  <div class="FormGroup">
                    <div class="descripcion">
                      <div class="col-md-12">
                        <label class="text-danger">Descripción</label>
                        {{ form.descripcio | add_class:'form-control'|attr:"rows:4"|attr:"style: resize: none;" | attr:'placeholder:Descripcion De La Actividad'}}
                      </div>
                    </div>
                  </div>  
                  
                  <div class="FormGroup">
                    <div class="fechaI">
                      <div class="col-md-6">
                        <label class="text-danger">Fecha De Inicio</label>
                        {{ form.fecha_inic | add_class:"form-control"|attr:'id:demoDate'| attr:"autocomplete:off"|attr:"placeholder:Seleccione La Fecha De Inicio" }}
                        <span class="help-block text-danger"></span>
                      </div>
              
                      <div class="col-md-6">
                        <label class="text-danger">Fecha De Culminación</label>
                        {{ form.fecha_fina | add_class:"form-control"|attr:'id:demoDate2'|attr:"autocomplete:off"|attr:"placeholder:Seleccione La Fecha De Culminacion" }}
                      </div>
                      <span class="help-block text-danger"></span>
                    </div>
                  </div>

                  <div class="FormGroup">
                    <div class="horaI">
                      <div class="col-md-6">
                          <label class="text-danger">Hora De Inicio</label>
                          {{ form.hora_inico|add_class:'form-control'|attr:'id:timepicker1'|attr:'placeholder:Ingrese La Hora De Inicio'}}
                      </div>  
                    </div>
                    <div class="horaF">
                      <div class="col-md-6">
                        <label for="" class="text-danger">Hora De Culminacion</label>
                        {{ form.hora_final|add_class:'form-control'|attr:'id:timepicker3'|attr:'placeholder:Ingrese La Hora De Culmincaion' }}
                      </div>
                    </div>
                  </div>

                  <div class="FormGroup">
                    <div class="animated-checkbox col-md-6">
                      <label>
                        {{ form.status1|attr:'type:checkbox'|attr:'onloadstart=return activaBox()' }}<span class="label-text">Actividad Activa</span>
                      </label>
                    </div>

                    <div class="animated-checkbox col-md-6">
                      <label>
                        {{ form.status2|attr:'type:checkbox' }}<span class="label-text">Actividad Finalizada</span>
                      </label>
                    </div>
                  </div>
                  <div class="animated-checkbox col-md-6">
                      <label>
                        {{ form.status3|attr:'type:checkbox' }}<span class="label-text">Actividad Pospuesta</span>
                      </label>
                    </div>
                  </div>

                    <hr>
                    {% if form.fecha_inic.errors %}
                      <div class="alert alert-dismissible alert-danger">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                          <h4>Alerta!</h4>              
                          <p>La Fecha De Inicio No Es valida! Colocar Una Fecha Correcta.</p>
                      </div>
                    {% endif %}
                    {% if form.fecha_fina.errors %}
                      <div class="alert alert-dismissible alert-danger">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                          <h4>Alerta!</h4>              
                          <p>La Fecha De Culminacion No Es valida! Colocar Una Fecha Correcta.</p>
                      </div>
                    {% endif %}
                  <div class="col-md-12">
                    <button class="btn btn-primary col-md-12 col-xs-12">Actualizar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascript %}

  <script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
  <!-- <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script> -->
  <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js'%}" charset="UTF-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<script type="text/javascript">
  $(function () {
    $('#demoDate').datepicker({
        format: 'd/m/yyyy',
        todayBtn:  1,
        todayHighlight: 1,
        autoclose: 1
    });
    $('#demoDate2').datepicker({
      format: 'd/m/yyyy',
      todayBtn:  1,
      todayHighlight: 1,
      autoclose: 1,
      language: 'es',
      useCurrent: false //Important! See issue #1075
    });
  });
</script>

<script type="text/javascript">
  $('#timepicker1').timepicker({
    timeFormat: 'H:mm:ss',
    timepicker: true,
    language: 'es',
    todayBtn:  1,
    autoclose: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0,
  });
  $('#timepicker3').timepicker({
    timeFormat: 'H:mm:ss',
    language: 'es',
    autoclose: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0
  });
</script>
{% endblock %}

{% block css %}    
    <link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet" media="screen">  
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">  -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
{% endblock %}