{% extends  'base_admin.html' %}
{% load staticfiles %}
{% block content %}
{%block title%}Registrar Alumno{% endblock title%}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i> Nuevo Alumno</h1>
      <p>Formulario Para El Registro De Un Nuevo Alumno</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li>Registro</li>
        <li><a href="#">Alumno</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal " method="POST" role="form">
                <div class="Alumno">
                  <fieldset>
                    <legend>Registro</legend>
                    <div>
                      <div class="bs-component">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#Alumno" data-toggle="tab">Alumno</a></li>
                          <li><a href="#Representante" data-toggle="tab">Representante</a></li>
                          <li><a href="#Vivienda" data-toggle="tab">Vivienda</a></li>
                          <li><a href="#Direccion" data-toggle="tab">Direccion</a></li>
                          <li><a href="#Familia" data-toggle="tab">Familia</a></li>
                          <li><a href="#Educacion" data-toggle="tab">Educacion</a></li>
                          <li><a href="#Empresa" data-toggle="tab">Empresa</a></li>
                          <li><a href="#Educa_Musi" data-toggle="tab">Educacion Musical</a></li>
                          <li><a href="#Percepcion_Representante" data-toggle="tab">Percepcion Del Representante</a></li>
                          <li><a href="#Percepcion_Alumno" data-toggle="tab">Percepcion Del Alumno</a></li>
                        </ul>
                        <br>
                        <form method="POST" id="alumForm">{% csrf_token %}
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active in" id="Alumno">
                              {% for field in alumno %}
                              <div class="FormGroup">
                                {{ field.label_tag }}
                                {{ field }}
                              </div>
                              {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="Representante">
                              {% for field in representante %}
                              <div class="FormGroup">
                                {{ field.label_tag }}
                                {{ field }}
                              </div>
                              {% endfor %}
                            </div> 
                            <div class="tab-pane fade" id="Vivienda">
                              {% for field in vivienda %}
                              <div class="FormGroup">
                                {{ field.label_tag }}
                                {{ field }}
                              </div>
                              {% endfor %}
                            </div>   
                            <div class="tab-pane fade" id="Direccion">
                              {% for field in direccion %}
                              <div class="FormGroup">
                                {{ field.label_tag }}
                                {{ field }}
                              </div>
                              {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="Familia">
                              {% for field in familia %}
                              <div class="FormGroup">
                                {{ field.label_tag }}
                                {{ field }}
                              </div>
                              {% endfor %}
                            </div>          
                            <div class="tab-pane fade" id="Educacion">
                              {% for field in educacion %}
                              <div class="FormGroup">
                                {{ field.label_tag }}
                                {{ field }}
                              </div>
                              {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="Empresa">
                              {% for field in empresa %}
                              <div class="FormGroup">
                                {{ field.label_tag }}
                                {{ field }}
                              </div>
                              {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="Educa_Musi">
                              {% for field in educacusi %}
                              <div class="FormGroup">
                                {{ field.label_tag }}
                                {{ field }}
                              </div>
                              {% endfor %}
                            </div>            
                            <div class="tab-pane fade" id="Percepcion_Representante">
                              {% for field in percrepre %}
                              <div class="FormGroup">
                                {{ field.label_tag }}
                                {{ field }}
                              </div>
                              {% endfor %}
                            </div>  
                            <div class="tab-pane fade" id="Percepcion_Alumno">
                              {% for field in percalum %}
                              <div class="FormGroup">
                                {{ field.label_tag }}
                                {{ field }}
                              </div>
                              {% endfor %}
                            </div>  
                          </div>
                          {% if form.errors %}
                          <div class="alert">
                            <div class="alert alert-dismissible alert-danger">
                              <button class="close" type="button" data-dismiss="alert">×</button>
                              <h4>Alerta!</h4>
                              <p>
                                {{ form.errors }}   
                              </p>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                      <div class="FormGroup">
                        <button class="btn btn-primary" value="Guardar"> Crear </button></i>  
                      </div>  
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock content %}