{% extends  'base_admin.html' %}
{%block title%}Listado De Alumnos{% endblock title%}
{% load staticfiles %}
{% block content %}
      <div class="content-wrapper">
        <div class="page-title hidden-print">
          <div>
            <h1><i class="fa fa-file-text-o"></i> Información Personal de {{ object.primer_nombre }} {{ object.primer_apellido }} </h1>
          </div>
          <div>
            <ul class="breadcrumb">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li><a href="{% url 'alumno:list_alumno' %}">Volver</a></li>
            </ul>
          </div>
        </div>
          <div class="row">
            <!-- Datos Del Alumno -->
            <div class="col-md-6">
              <div class="card">
                <section class="invoice">
                  <div class="row invoice-info">
                    <div class="col-xs-12">
                      <h2 align="center">Datos Del Alumno</h2>
                      <hr>
                      <ul>
                        <h4> - <b>Nacionalidad: </b>{% if object_list.nacionalidad == V %} Venezolano(a) {% else %} Extranjero(a) {% endif %} </h4>
                        <h4> - <b>Cedula: </b> {% if object.cedula_alumno == None %} No Posee {% else %} {{ object.cedula_alumno }}{% endif %} </h4>
                        <h4> - <b>Nombre:</b> {{ object.primer_nombre|title }} </h4>
                        <h4> - <b>Apellido:</b> {{ object.primer_apellido|title }}</h4>
                        <h4> - <b>Sexo: </b> {{ object.sexo_alumno }} </h4>
                        <h4> - <b>Fecha De Nacimiento: </b> {{ object.fecha_nacimiento }} </h4>
                        <h4> - <b>Lugar De Nacimiento: </b> {{ object.lugar_nacimiento|title }} </h4>
                        <h4> - <b>Institución: </b> {{ object.institucion|title }} </h4>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            
            <!-- Datos Del Representante -->
            <div class="col-md-6">
              <div class="card">
                <section class="invoice">
                  <div class="row invoice-info">
                    <div class="col-xs-12">
                      <h2 align="center">Datos Del Representante</h2>
                      <hr>
                      <ul>
                        <h4> - <b>Cedula: </b> {{ object.representante.cedula_repres }} </h4>
                        <h4> - <b>Nombre: </b> {{ object.representante.nombre_repres|title }} </h4>
                        <h4> - <b>Apellido: </b> {{ object.representante.apelli_repres|title }} </h4>
                        <h4> - <b>Ocupación: </b> {{ object.representante.ocupacion }} </h4>
                        <h4> - <b>Profesión: </b> {% if  object.representante.profesion == None %} No Ejerce {% else %}
                             {{ object.representante.profesion }}{% endif %}  </h4>
                        <h4> - <b>Telefono Celular: </b>{% if object.representante.telef_cel == None %} No Posee {% else %} {{ object.representante.telef_cel }} {% endif %}</h4>
                        <h4> - <b>Telefono Residencia: </b>{% if object.representante.telef_res == None %} No Posee {% else %} {{ object.representante.telef_res }}{% endif %}  </h4>
                        <h4> - <b>Dirección: </b> {% if object.representante.direccion == None %} No Registro {% else %}
                            {{ object.representante.direccion|title }}{% endif %} </h4>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <!-- Datos De La Vivienda -->
            <div class="col-md-12">
              <div class="card">
                <section class="invoice">
                  <div class="row invoice-info">
                    <div class="col-xs-12">
                      <h2 align="center">Datos De La Vivienda</h2>
                      <hr>
                      <ul>
                        <h4> - <b>Tipo De Vivienda: </b> {{ object.vivienda.tipo_vivien }} </h4>
                        <h4> - <b>Zona: </b> {{ object.vivienda.zona|title }} </h4>
                        <hr>
                        <h3>Servicios Basicos</h3>
                        <h4> - <b>Agua: </b> {% if object.vivienda.agua == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Aseo Urbano: </b> {% if object.vivienda.aseo_urbano == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Cloacas: </b> {% if object.vivienda.cloacas == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Telefono Fijo: </b> {% if object.vivienda.telefono_fijo == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Internet: </b> {% if object.vivienda.internet == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Nevera: </b> {% if object.vivienda.nevera == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Cocina: </b> {% if object.vivienda.cocina == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Lavadora: </b> {% if object.vivienda.lavadora == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Secadora: </b> {% if object.vivienda.secadora == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Computadora: </b> {% if object.vivienda.computadora == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Calentador De Agua: </b> {% if object.vivienda.calentador_de_agua == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>N° De Habitaciones: </b> {% if object.vivienda.habitacione == None %} No Hay {% else %} {{ object.vivienda.habitacione }} {% endif %}</h4>
                        <h4> - <b>N° De Habitantes: </b>{% if object.vivienda.num_habitan == None %} No Hay {% else %} {{ object.vivienda.num_habitan }} {% endif %}</h4>
                        <h4> - <b>N° De Baños: </b>{% if object.vivienda.num_bano == None %} No Hay {% else %} {{ object.vivienda.num_bano }} {% endif %} </h4>
                        <h4> - <b>N° Habitantes Que Trabajan:</b>{% if object.vivienda.habitan_tra == None %} No Hay {% else %} {{ object.vivienda.habitan_tra }}{% endif %}  </h4>
                        <h4> - <b>N° Habitantes Que Aportan: </b>{% if object.vivienda.habitan_apor == None %} No Hay {% else %} {{ object.vivienda.habitan_apor }}{% endif %} </h4>
                        <h4> - <b>Monto Mensual En El Hogar: </b>{% if object.vivienda.mon_apr_men == None %} No Hay {% else %} {{ object.vivienda.mon_apr_men }}{% endif %} </h4>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <!-- Datos De La Direccion -->
            <div class="col-md-12">
              <div class="card">
                <section class="invoice">
                  <div class="row invoice-info">
                    <div class="col-xs-12">
                      <h2 align="center">Datos De la Dirección</h2>
                      <hr>
                      <ul>
                        <h4> - <b>Entidad Federal: </b> {{ object.direccion.entid_feder }} </h4>
                        <h4> - <b>Ciudad: </b> {{ object.direccion.ciudad|title }} </h4>
                        <h4> - <b>Parroquia: </b> {{ object.direccion.parroquia|title }} </h4>
                        <h4> - <b>Sector: </b> {{ object.direccion.sector|title }} </h4>
                        <h4> - <b>Barrio/Urbanización: </b> {{ object.direccion.barri_urban|title }} </h4>
                        <h4> - <b>Calle/Avenida: </b> {{ object.direccion.calle_avend|title }} </h4>
                        <h4> - <b>Apartamento/Casa: </b> {{ object.direccion.apt_casa|title }} </h4>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <!-- Datos De Un Familiar -->
            <div class="col-md-12">
              <div class="card">
                <section class="invoice">
                  <div class="row invoice-info">
                    <div class="col-xs-12">
                      <h2 align="center">Datos Familiares</h2>
                      <hr>
                      <ul>
                        <h4> - <b>Cedula: </b>{% if object.familia.cedula_familia == None %} Sin Registro {% else %} {{ object.familia.cedula_familia }}{% endif %} </h4>
                        <h4> - <b>Nombre: </b>{% if object.familia.nombre_familia == None %} Sin Registro {% else %} {{ object.familia.nombre_familia|title }}{% endif %}  </h4>
                        <h4> - <b>Apellido: </b>{% if object.familia.apelli_familia == None %} Sin Registro {% else %} {{ object.familia.apelli_familia|title }} {% endif %}</h4>
                        <h4> - <b>Ocupación: </b>{% if object.familia.ocupacion_f == None %} Sin Registro {% else %} {{ object.familia.ocupacion_f }}{% endif %} </h4>
                        <h4> - <b>Profesión: </b>{% if object.familia.profesion_f == None %} Sin Registro {% else %} {{ object.familia.profesion_f }}{% endif %} </h4>
                        <h4> - <b>Dirección: </b>{% if object.familia.direccion == None %} Sin Registro {% else %} {{ object.familia.direccion|title }}{% endif %} </h4>
                        <h4> - <b>Telefono Celular: </b>{% if object.familia.telef_cel_f == None %} Sin Registro {% else %} {{ object.familia.telef_cel_f }} {% endif %}</h4>
                        <h4> - <b>Telefono Residencia: </b>{% if object.familia.telef_res_f == None %} Sin Registro {% else %} {{ object.familia.telef_res_f }} {% endif %}</h4>
                        <h4> - <b>Vive Con El Alumno: </b> {% if object.familia.vive == True %} Si {% else %} No {% endif %} </h4>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <!-- Datos Academicos -->
<!--             <div class="col-md-6">
              <div class="card">
                <section class="invoice">
                  <div class="row invoice-info">
                    <div class="col-xs-12">
                      <h2>Datos Academicos</h2>
                      <hr>
                      <ul>
                        <h4> - <b>Nivel Educativo: </b> {{ object.educacion.nivel_e }} </h4>
                        <h4> - <b>Cursos: </b>{% if object.educacion.curso == None %} Ninguno {% else %} {{ object.educacion.curso }}{% endif %} </h4>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div> -->

            <!-- Trabajo Del Alumno -->
            <div class="col-md-12">
              <div class="card">
                <section class="invoice">
                  <div class="row invoice-info">
                    <div class="col-xs-12">
                      <h2 class="text-center">Datos Laborales</h2>
                      <hr>
                      <ul>
                        <h4> - <b>Nombre De La Empresa: </b>{% if object.empresa.nombre_empre == None %} No Posee {% else %} {{ object.empresa.nombre_empre|title }}{% endif %} </h4>
                        <h4> - <b>Nombre Del jefe: </b>{% if object.empresa.nombre_jefe == None %} No Posee {% else %} {{ object.empresa.nombre_jefe|title }}{% endif %} </h4>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <!-- Educacion Musical Del Alumno -->
            <div class="col-md-12">
              <div class="card">
                <section class="invoice">
                  <div class="row invoice-info">
                    <div class="col-xs-12">
                      <h2 align="center">Educación Musical</h2>
                      <hr>
                      <ul>
                        <h4> - <b>Programas Orquestales: </b>{% if object.educamusi.progama_orque == None %} Ninguno {% else %} {{ object.educamusi.progama_orque|title }}{% endif %} </h4>
                        <h4> - <b>Instrumento Principal: </b>{% if object.educamusi.instru_princi == None %} Ninguno {% else %} {{ object.educamusi.instru_princi|title }}{% endif %}</h4>
                        <h4> - <b>Profesor De Clase Individual: </b>{% if object.educamusi.prof_clas_ind == None %} Ninguno {% else %} {{ object.educamusi.prof_clas_ind|title }}{% endif %} </h4>
                        <h4> - <b>Instrumento Secundario: </b>{% if object.educamusi.instru_secund == None %} Ninguno {% else %} {{ object.educamusi.instru_secund|title }}{% endif %}  </h4>
                        <h4> - <b>Profesor De Clase Individual: </b>{% if object.educamusi.prof_clas_sec == None %} Ninguno {% else %} {{ object.educamusi.prof_clas_sec|title }}{% endif %} </h4>
                        <h4> - <b>Clases Academicas/Catedra Nacional: </b>  
                          {% if object.educamusi.academ_catedr == True %} Si 
                        <h4> - <b>Nombre De La Catedra: </b> {{ object.educamusi.nombr_academi|title }} </h4>
                          {% else %} No {% endif %} 
                        </h4>
                        <h4> - <b>Seleccionado Para Una Orquesta/Coro Nacional: </b>{% if object.educamusi.clas_acad_cate == None %} No {% else %} {{ object.educamusi.clas_acad_cate|title }} {% endif %}</h4>
                        <h4> - <b>Seleccionado Para Una Orquesta/Coro Regional: </b> {% if object.educamusi.nom_aca_cate == None %} No {% else %}{{ object.educamusi.nom_aca_cate|title }}{% endif %} </h4>
                        <h4> - <b>Escuela Especial De Musica: </b>{% if object.educamusi.inst_espc_mus == None %} No {% else %} {{ object.educamusi.inst_espc_mus|title }} {% endif %}</h4>
                        <h4> - <b>Recibe Beca/Ayuda Por Cursar Estudios Musicales: </b> {% if object.educamusi.bec_est_esp == True %} Si 
                          <h4> - <b>Nombre Del Curso/s: </b> {{ object.educamusi.estu_cur|title }} 
                          </h4>
                          <h4> - <b>Institución/Empresa Que Otorga La Beca: </b> {{ object.educamusi.inst_empr_bec|title }} </h4>
                        {% else %} No {% endif %} 
                        </h4>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <!-- Percepcion Del Representante -->
            <div class="col-md-12">
              <div class="card">
                <section class="invoice">
                  <div class="row invoice-info">
                    <div class="col-xs-12">
                      <h2 align="center">Percepción Del Representante</h2>
                      <hr>
                      <ul>
                        <h4> - <b>Como Grupo Familiar Somos Reconocidos En La Comunidad (Nos Respetan Mas): </b> {% if object.representante.perceprepre.grup_fam_reco_com == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>La Asistencia De Mis Niños Al La Actividad Musical, Mejoro Las Relaciones Familiares: </b> {% if object.representante.perceprepre.asis_nin_act_mus == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>La Practica Musical Produce Una Entrada Economica Mas En El Grupo Familiar: </b> {% if object.representante.perceprepre.prac_mus_ent_eco == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Ahora Vivo Mejor: </b> {% if object.representante.perceprepre.viv_mej == True %} Si {% else %} No {% endif %} </h4>
                        {% if object.representante.perceprepre.otra_razon == None %} {% else %}<h4> - <b>Otra Razón: </b> {{ object.representante.perceprepre.otra_razon }} {% endif %} </h4>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <!-- Percepcion Del Alumno -->
            <div class="col-md-12">
              <div class="card">
                <section class="invoice">
                  <div class="row invoice-info">
                    <div class="col-xs-12">
                      <h2 align="center">Percepción Del Niño</h2>
                      <hr>
                      <ul>
                        <h4> - <b>Me Siento Bien: </b>{% if object.percepnino.m_sien_bie == True %} Si {% else %} No {% endif %}</h4>
                        <h4> - <b>Me Siento Seguro: </b> {% if object.percepnino.m_sien_seg == True %} Si {% else %} No {% endif %}</h4>
                        <h4> - <b>Siento Que He Mejorado Como Ser Humano: </b> {% if object.percepnino.sien_mejo == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Soy Más Apreciado En La Comunidad: </b> {% if object.percepnino.mas_apre_com == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Me Siento Cansado: </b> {% if object.percepnino.m_sien_cap == True %} Si {% else %} No {% endif %} </h4>
                        <h4> - <b>Me Siento Desmotivado: </b> {% if object.percepnino.m_sien_mot == True %} Si {% else %} No {% endif %} </h4>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
      </div>
{% endblock content %}