{% extends  'base_admin.html' %}
{%block title%}Asignacion De Un Alumno{% endblock title%}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i>Asignacion De Un Alumno</h1>
    </div>
  </div>
  	<div class="row">
    	<div class="col-md-12">
      	<div class="card">
        	<div class="row">
          	<div class="col-lg-12">
            	<div class="well bs-component">
              	<form class="form-horizontal" method="POST">{% csrf_token %}
		              <fieldset>
		                {{ mensaje }}
                    <div class="FormGroup">
                      <div class="col-md-6">
                        <label for="" class="text-danger">Profesor</label>
                        {{ form.profesor|add_class:'js-example-basic-multiple'|attr:'id:profesor' }}
                      </div>

                      <div class="col-md-6">
                        <label for="" class="text-danger">Alumno</label>
                        {{ form.alumno|add_class:'js-example-basic-multiple'|attr:'id:alumno' }}
                      </div>
                    </div>
                    
                    <hr>
                    
                    {% if form.profesor.errors %}
                      <div class="alert alert-dismissible alert-danger col-md-12">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                          <h4>Alerta!</h4>          
                          <p>El Profesor Ya Ha Sido Asignado.</p>
                      </div>
                    {% endif %}
                    {% if form.alumno.errors %}
                        <div class="alert alert-dismissible alert-danger col-md-12">
                          <button class="close" type="button" data-dismiss="alert">×</button>
                            <h4>Alerta!</h4>   
                            <p>El Alumno ya ha sido asignado a un profesor.</p>                 
                        </div>
                    {% endif %}
                    <div class="col-md-12">
                      <button class="btn btn-primary col-md-12 col-xs-12">asignar</button>
                    </div>
		              </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>  

{% endblock content %}

{% block javascript %}
  <script>
    $(document).ready(function() {
      $('.js-example-basic-multiple').select2();
    });
  </script>
{% endblock javascript %}