{% extends  'base_admin.html' %}
{%block title%}Asignacion De Un Alumno{% endblock title%}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i>Asignacion De Un Alumno</h1>
      <p>Control De Asignacion Profesor / Alumno</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li>Asignacion</li>
        <li><a href="#">Alumno</a></li>
      </ul>
    </div>
  </div>
  	<div class="row">
    	<div class="col-md-12">
      	<div class="card">
        	<div class="row">
          	<div class="col-lg-12">
            	<div class="well bs-component">
              	<form class="form-horizontal" method="POST">{% csrf_token %}
		              <fieldset>
		                <div class="FormGroup">
                      <div class="col-md-6">
                        <label for="" class="text-danger">Profesor</label>
                        {{ form.profesor|add_class:'js-example-basic-multiple'|attr:'id:profesor' }}
                      </div>

                      <div class="col-md-6">
                        <label for="" class="text-danger">Alumno</label>
                        {{ form.alumno|add_class:'js-example-basic-multiple'|attr:'id:alumno' }}
                      </div>
                    </div>
                    {% if form.errors %}
                      <div class="alert alert-dismissible alert-danger">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                          <h4>Alerta!</h4>                    
                            {{ form.errors.profesor }}
                            {{ form.errors.alumno }}
                      </div>
                    {% endif %}
                    <hr>
                    <button class="btn btn-primary">asignar</button>
		              </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>  

{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/forms.js'%}"></script>
{% endblock javascript %}