{% extends 'base_admin.html' %}
{%block title%}Registrar Actividad{% endblock title%}
{% load staticfiles %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i> Nueva Actividad</h1>
      <p>Registro De Una Nueva Actividad</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li>Registro</li>
        <li><a href="#">Actividad</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-6">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST">{% csrf_token %}
                <fieldset>
                  <legend>Registro</legend>
                  <div class="FormGroup">
                    <label>Codigo De Actividad:</label>
                    <input class="vIntegerField" id="id_codigo_act" name="codigo_act" type="text" required onKeyPress="return SoloNumeros(event);">

                    <label>Nombre De La Actividad:</label>
                    <input class="vTextField" id="id_nombr_acti" maxlength="150" name="nombr_acti" type="text" required>

                    <label>Descripcion:</label>
                    <textarea class="vLargeTextField form-control" cols="40" id="id_descripcio" maxlength="500" name="descripcio" rows="10" style="resize: none;" required></textarea>

                    <label>Fecha De Inicio:</label>
                    <input class="vDateField form-control" onclick="TimeToTimeStamp();" id="id_fecha_inic" name="fecha_inic" type="date" required>

                    <label>Fecha De Culminacion:</label>
                    <input class="vDateField form-control" onclick="comparaFecha(document.miform.result.value, document.miform.fecha_actual.value);" id="id_fecha_fina datepicker" name="fecha_fina" type="date" required>
                    <hr>
                    {% if form.errors %}
                      <div class="alert alert-dismissible alert-danger">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                          <h4>Alerta!</h4>                    
                            {{ form.errors.codigo_act }}
                            {{ form.errors.nombr_acti }}
                            {{ form.errors.fecha_inic }}
                            {{ form.errors.fecha_fina }}
                      </div>
                    {% endif %}
                  </div>
                  <button class="btn btn-primary">crear</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}