{% extends  'base_admin.html' %}
{%block title%}Listado De Las Actividades{% endblock title%}
{% load staticfiles %}
{% block content %}
      <div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1>Lista De Actividades</h1>
            <ul class="breadcrumb side">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li>Listado</li>
              <li class="active"><a href="#">Actividades</a></li>
            </ul>
          </div>
          {% if request.user.is_secretaria %}
            <div><a class="btn btn-primary btn-flat" href="/nueva_actividad/"><i class="fa fa-lg fa-plus"></i></a></div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="card-body">
                <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 69px;">Codigo</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 89px;">Nombre</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Descripcion</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 51px;">Fecha De Inicio</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 51px;">Fecha Final</th>
                    </tr>
                  </thead>
                  
                <tbody>
                {% if object_list %}
                {% for actividad in object_list %}
                <tr class="odd">
                  <td>{{ actividad.codigo_act }}</td>
                  <td>{{ actividad.nombr_acti }}</td>
                  <td>{{ actividad.descripcio }}</td>
                  <td>{{ actividad.fecha_inic }}</td>
                  <td>{{ actividad.fecha_fina }}</td>
                  </tr>
                {% endfor %}
                {% else %}
                  <td valign="top" colspan="7" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                {% endif %}  
                </tbody></table></div></div>
                  </div>              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}