{% extends  'base_admin.html' %}

{%block title%}Nuevo Profesor{% endblock title%}

{% load widget_tweaks %}

{% load staticfiles %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i> Nuevo Profesor</h1>
      <p><b>NOTA: Los campos marcados de rojo son obligadorios.</b></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" id="form-prof" onkeydown="" method="POST">{% csrf_token %}
                <fieldset>
                  <legend>Registro</legend>

                  <div class="FormGroup">
                    <div class="cedula_profesor">
                      <div class="col-md-12">
                        <label class="text-danger">Cedula</label>
                        {{ form.cedula_profesor | add_class:'form-control' |attr:"placeholder:Ingrese Numero De Cedula"|attr:'autocomplete:off'|attr:"minlength=8"| add_error_class:'form-control is-invalid'|attr:'onkeypress:return valida(event);' }}
                      </div>
                    </div>
                  </div>

                  <div class="FormGroup">
                    <div class="nombre_profesor">
                      <div class="col-md-12">
                        <label class="text-danger">Nombre Del Profesor</label>
                        {{ form.nombre_profesor |add_error_attr:"aria-invalid:true"| add_class:'form-control'| attr:"placeholder:Ingrese Nombre Del Profesor"|attr:'autocomplete:off'| add_error_class:'form-control is-invalid'|attr:'onkeypress:return soloLetras(event);' }}
                      </div>
                    </div>
                  </div>

                  <div class="FormGroup">
                    <div class="apellido_profesor">
                      <div class="col-md-12">
                        <label class="text-danger">Apellido Del Profesor</label>
                        {{ form.apellido_profesor | add_class:'form-control'|attr:"placeholder:Ingrese Apellido Del   Profesor"| add_error_class:'form-control is-invalid'|attr:'autocomplete:off'|attr:'onkeypress:return soloLetras(event);' }}
                      </div>
                    </div>

                    <div class="asignacion">
                      <div class="col-md-12">
                        <label class="text-danger">Asignación</label>
                        {{ form.asignacion | add_class:'form-control' }}
                      </div>
                    </div>
                  </div>

                    <hr>
                    {% if form.cedula_profesor.errors %}
                      <div class="alert alert-dismissible alert-danger">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                          <h4>Alerta!</h4>                    
                            <p>Esta Cedula ya esta registrada con otro Profesor.</p>
                      </div>
                    {% endif %}
                    {% if form.asignacion.erros %}
                      <div class="alert alert-dismissible alert-danger">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                          <h4>Alerta!</h4>                    
                            <p>Este Instrumento ya esta registrado con el Profesor.</p>
                      </div>
                    {% endif %}
                  <div class="col-md-12">
                    <button class="btn btn-primary col-md-12 col-xs-12">Crear</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/form_validation.js' %}"></script>
{% endblock %}