{% extends  'base_admin.html' %}
{%block title%}Editar Profesor{% endblock title%}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i> Actualizar Profesor</h1>
      <p>Actualizacion Del Profesor</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li>Actualizacion</li>
        <li><a href="#">Profesor</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <div class="Alumno">
                <form class="form-horizontal" id="form-prof" onkeydown="" method="POST">{% csrf_token %}
                  <fieldset>
                  <legend>Registro</legend>

                  <div class="FormGroup">
                    <div class="cedula_profesor">
                      <div class="col-md-12">
                        <label class="text-danger">Cedula</label>
                        {{ form.cedula_profesor | add_class:'form-control' |attr:'oninput:validacion(cedula_profesor);' |attr:"placeholder:Ingrese Numero De Cedula"|attr:'autocomplete:off'|attr:"minlength=8"| add_error_class:'form-control is-invalid'|attr:'onkeypress:return valida(event);' }}
                      </div>
                    </div>
                  </div>

                  <div class="FormGroup">
                    <div class="nombre_profesor">
                      <div class="col-md-12">
                        <label class="text-danger">Nombre Del Profesor</label>
                        {{ form.nombre_profesor |add_error_attr:"aria-invalid:true"| add_class:'form-control'| attr:"placeholder:Ingrese Nombre Del Profesor"|attr:'autocomplete:off'| add_error_class:'form-control is-invalid'|attr:'onkeypress:return soloLetras(event);' }}
                      </div>
                    </div>
                  </div>

                  <div class="FormGroup">
                    <div class="apellido_profesor">
                      <div class="col-md-12">
                        <label class="text-danger">Apellido Del Profesor</label>
                        {{ form.apellido_profesor | add_class:'form-control'|attr:"placeholder:Ingrese Apellido Del   Profesor"| add_error_class:'form-control is-invalid'|attr:'autocomplete:off'|attr:'onkeypress:return soloLetras(event);' }}
                      </div>
                    </div>

                    <div class="asignacion">
                      <div class="col-md-12">
                        <label class="text-danger">Asignación</label>
                        {{ form.asignacion | add_class:'form-control' }}
                      </div>
                    </div>
                  </div>

                    <hr>
                    {% if form.errors %}
                      <div class="alert alert-dismissible alert-danger">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                          <h4>Alerta!</h4>                    
                            {{ form.errors.cedula_profesor }}
                            {{ form.errors.nombre_profesor }}
                            {{ form.errors.apellido_profesor }}
                            {{ form.errors.asignacion }}
                      </div>
                    {% endif %}
                  <div class="col-md-6">
                    <button class="btn btn-primary">Actualizar</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}