{% extends 'base_admin.html' %}

{% block title %}Evaluación{% endblock title %}
{% load staticfiles %}

{% load widget_tweaks %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i> Evaluacion </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-body">
            <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="row">
                <div class="col-lg-12">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <h3 class="panel-title" align="center">Información</h3>
                    </div>
                    <div class="panel-body" align="center">Marque La Opcion -> (Si) / Deje Sin Marcar La Opcion -> (No)</div>
                  </div>
  								<form action="" method="POST" id="evaluado">{% csrf_token %}
                    
                    {{ form.alumno|attr:'value:id_user.ci' }}

                    {{ evaluado }}

                    <div class="FormGroup">
                      <div class="col-md-6">
                        <label class="text-danger">Alumno:</label><br>
                        {{ form.asignados|attr:'style: width:100%;'|attr:'value:alumno'|add_class:'js-example-basic-multiple form-control' }}
                      </div>

                      <div class="col-md-6">
                        <label class="text-danger">Fecha De Evaluacion:</label><br>
                        {{ form.fecha|attr:'style: width:100%;'|attr:'autocomplete:off'|add_class:'form-control'|attr:'id:evaluacion' }} 
                      </div>
                    </div>

                    <div class="FormGroup">
                      <div class="col-md-12">
                        <label for="" class="text-danger">Descripción</label>
                          {{ form.descripcion|add_class:'form-control'|attr:'style: resize: none; margin-top: 0px; margin-bottom: 0px; width: 100%;'|attr:'rows:4' }}
                      </div>
                    </div>

  									<div class="FormGroup text-center">
                      <br>
  									  <div class="animated-checkbox col-md-6">
  										  <label>
  										    {{ form.evaluado|attr:'type:checkbox' }}<span class="label-text">Ha sido Evaluado</span>
  										  </label>
  										</div>


                      <div class="animated-checkbox col-md-3">
                        <label>
                          {{ form.status|attr:'type:checkbox' }}<span class="label-text">Aprobo</span>
                        </label>
                      </div>  
                    </div>
                      {{ form.errors }}
  									<hr>
                    <button class="btn btn-primary col-md-12 col-xs-12" value="Guardar"> Enviar </button></i> 
  								</form>
								</div>
							</div>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/forms.js'%}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>

  <script>
    $('#evaluacion').datepicker({
        format: 'dd/mm/yyyy',
    });
  </script>

{% endblock javascript %}