{% extends  'base_admin.html' %}
{%block title%}Listado De Profesores{% endblock title%}
{% load staticfiles %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1>Listado De Profesores</h1>
      <ul class="breadcrumb side">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li>Listado</li>
        <li class="active"><a href="#">Profesores</a></li>
      </ul>
    </div>
    <div><a class="btn btn-primary btn-flat" href="/nuevo_profesor/"><i class="fa fa-lg fa-plus"></i></a></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
              <div class="col-sm-6">

              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 69px;">Cedula</th>
                      <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 89px;">Nombre</th>
                      <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Apellido</th>
                      <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 51px;">Asignacion</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if object_list %}
                    {% for profesor in object_list %}
                    <tr class="odd">
                      <td>{{ profesor.cedula_profesor }}</td>
                      <td>{{ profesor.nombre_profesor }}</td>
                      <td>{{ profesor.apellido_profesor }}</td>
                      <td>{{ profesor.asignacion }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <td valign="top" colspan="4" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                    {% endif %}  
                  </tbody>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}