{% extends  'base_admin.html' %}
{%block title%}Listado De Profesores{% endblock title%}
{% load staticfiles %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1>Listado De Profesores</h1>
      </ul>
    </div>
    <div><a class="btn btn-primary btn-flat" href="/nuevo_profesor/"><i class="fa fa-lg fa-plus"></i></a></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="" aria-describedby="sampleTable_info">
                  <thead>
                    <tr>
                      <th>Cedula</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Asignacion</th>
                      <th>Constancia</th>
                      <!-- <th>Actualizar</th> -->
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if object_list %}
                    {% for profesor in object_list %}
                    <tr class="odd">
                      <td>{{ profesor.cedula_profesor }}</td>
                      <td>{{ profesor.nombre_profesor }}</td>
                      <td>{{ profesor.apellido_profesor }}</td>
                      <td>{{ profesor.asignacion }}</td>
                      <td><a href="{% url 'reportes:const_trab' profesor.pk %}" style="width: 100%;" class="btn btn-primary" >Ver Mas</a></td>
                      <!-- <td><a href="{% url 'profesor:editar_profesor' profesor.cedula_profesor %}"  class="btn btn-info" >ir</a> -->
                      <td><a href="{% url 'profesor:eliminar_profesor' profesor.cedula_profesor %}" style="width: 100%;" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <td valign="top" colspan="7" class="dataTables_empty">No hay Profesores Registrados</td>
                    {% endif %}  
                  </tbody>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js'%}"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock %}