{% extends  'base_admin.html' %}

{%block title%}Nuevo Personal Administrativo{% endblock title%}

{% load widget_tweaks %}

{% load staticfiles %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-edit"></i> Nuevo Personal Adminitrativo</h1>
      <p><b>NOTA: Los campos marcados de rojo son obligadorios.</b></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" id="form-prof" onkeydown="" method="POST">{% csrf_token %}
                <fieldset>
                  <legend>Registro</legend>

                  <div class="FormGroup">
                    <div class="cedula_profesor">
                      <div class="col-md-12">
                        <label class="text-danger">Cedula</label>
                        {{ form.cedula | add_class:'form-control' |attr:"placeholder:Ingrese Numero De Cedula"|attr:'autocomplete:off'|attr:"minlength=8"| add_error_class:'form-control is-invalid' }}
                      </div>
                    </div>
                  </div>

                  <div class="FormGroup">
                    <div class="nombre">
                      <div class="col-md-12">
                        <label class="text-danger">Nombre Del Personal</label>
                        {{ form.nombre |add_error_attr:"aria-invalid:true"| add_class:'form-control'| attr:"placeholder:Ingrese Nombre Del Personal"|attr:'autocomplete:off'| add_error_class:'form-control is-invalid' }}
                      </div>
                    </div>
                  </div>

                  <div class="FormGroup">
                    <div class="apellido">
                      <div class="col-md-12">
                        <label class="text-danger">Apellido Del Personal</label>
                        {{ form.apellido | add_class:'form-control'|attr:"placeholder:Ingrese Apellido Del Personal "| add_error_class:'form-control is-invalid'|attr:'autocomplete:off' }}
                      </div>
                    </div>
                  
                    <div class="telefono">
                      <div class="col-md-12">
                        <label for="" class="text-danger">Telefono</label>
                        {{ form.telefono|add_class:'form-control'|attr:"placeholder:Ingrese Numero Telefonico"|attr:'autocompleteoff' }}
                      </div>
                    </div>
                  </div>

                  <div class="FormGroup">
                    <div class="asignacion">
                      <div class="col-md-12">
                        <label class="text-danger">Cargo</label>
                        {{ form.cargo | add_class:'form-control'|attr:'placeholder:Cargo Del Personal' }}
                      </div>
                    </div>
                  </div>

                    <hr>
                    {% if form.cedula.errors %}
                      <div class="alert alert-dismissible alert-danger">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                          <h4>Alerta!</h4>                    
                            <p>Esta Cedula ya esta registrada con otra persona.</p>
                      </div>
                    {% endif %}
                  <div class="col-md-12">
                    <button class="btn btn-primary col-md-12 col-xs-12">Crear</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/form_validation.js' %}"></script>
  <script src="{% static 'js/valinput/profesor.js' %}"></script>
{% endblock %}