{% extends  'base_admin.html' %}
{%block title%}Listado De Personal Administrativo{% endblock title%}
{% load staticfiles %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1>Listado De Personal Administrativo</h1>
    </div>
    <div>
      <a class="btn btn-primary btn-flat" href=""><i class="fa fa-lg fa-plus"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="" aria-describedby="sampleTable_info">
                  <thead>
                    <tr>
                      <th>Cedula</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Cargo</th>
                      <th>Telefono</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% if object_list %}
                    {% for personal in object_list %}
                    <tr class="odd">
                      <td>{{ personal.cedula }}</td>
                      <td>{{ personal.nombre|title }}</td>
                      <td>{{ personal.apellido|title }}</td>
                      <td>{{ personal.cargo|title }}</td>
                      <td>{{ personal.telefono }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <td valign="top" colspan="7" class="dataTables_empty">No hay Ningun Personal Registrados</td>
                    {% endif %}  
                  </tbody>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js'%}"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock %}