{% load staticfiles %}

{% load widget_tweaks %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{% static 'iziToast/css/iziToast.min.css' %}">
    <title>Restaurar Contraseña</title>
 
  </head>
  <body>
    <section class="login-content">
      <div class="login-box">
        <form class="login-form" id="login" method="POST">{% csrf_token %}
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa fa-user-circle-o"></i>Intranet APPGECA</h3>

          <div class="row margin">
            <div class="input-field col s12">

      				{% block title %}Recuperación de contraseña exitosa{% endblock %}

      				{% block content %}
      				<p>Hemos enviado las instrucciones de como recuperar la contraseña a la dirección de correo electrónico especificada</p>
      				<p>Estarás recibiendo el correo pronto.</p>
      	            <p class="semibold-text mb-0"><a href="{% url 'auth:login' %}">Volver</a></p>

      				{% endblock %}

            </div>
          </div>
          <br>
        </form>
      </div>
    </section>
  </body>
  <script src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/plugins/pace.min.js'%}"></script>
  <script src="{% static 'js/main.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-notify.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-notify.min.js' %}"></script>
  <script src="{% static 'iziToast/js/iziToast.min.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27820211-3', 'auto');
  ga('send', 'pageview');
  </script>  
</html>