{% extends "base_admin.html" %}

{% block title %}Editar contraseña confirmado{% endblock %}

{% block content %}
<div class="content-wrapper">
	<div class="card col-lg-12">
		<div class="row">
			<div class="PasswordChangeDone col-lg-12">
			    <h1 class="text-center">Constraseña modificada exitosamente</h1>
			    <br>
			    <div class="col-md-12">
				    <a href="{% url 'auth:inicio' %}" class="btn btn-primary col-md-12 col-xs-12">Inicio</a>
			    </div>
		  	</div>
		</div>
	</div>
</div>

{% endblock %}
