{% extends 'base.html' %}
{% block title %}Cronograma{% endblock title %}
{% load staticfiles %}
<title>Calendario</title>

{% block content %}
<br><br><br><br>
<body>
      <div class="row">
        <div class="card text-center">
          <div class="header">
            <h5>Leyenda de Actividades</h5>     
          </div>
          <div class="body">
            <div class="col-md-4 col-lg-4 text-center" style="height: 25px; border-radius: 7px; background: #40B1FF;"><p style="color: white;">Activa</p></div>

            <div class="col-md-4 col-lg-4 text-center" style="height: 25px; border-radius: 7px; background: #CF9C1A;"><p style="color: white;">Pospuesta</p></div>

            <div class="col-md-4 col-lg-4 text-center" style="height: 25px; border-radius: 7px; background: #E63D51;"><p style="color: white;">Cancelada</p></div>
            <br><br>
          </div>
        </div>
      </div>
    <div id="calendar" class="card" style="width: auto;">
      
    </div>
</body>
{% endblock %}

{% block javascript %}
<script type='text/javascript' src="{% static 'js/fullcalendar.js' %}"></script>
<script type='text/javascript' src="{% static 'js/locale-all.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.qtip.min.js' %}"></script>
<script type='text/javascript'>
    $(document).ready(function() {
        var tooltip = $('<div/>').qtip({
          id: 'calendar',
          prerender: true,
          content: {
            text: ' ',
          },
          position: {
            my: 'bottom center',
            at: 'top center',
            target: 'mouse',
            viewport: $('#calendar'),
            adjust: {
              mouse: false,
              scroll: false
            }
          },
          show: false,
          hide: false,
          style: 'qtip-bootstrap'
        }).qtip('api');

        $('#calendar').fullCalendar({
            locale: 'es',
            eventLimit: true,
            height: 720,
            header: {
              right: 'prev,next today',
              center: 'title',
              left: 'month,agendaWeek,agendaDay'
            },

            eventClick: function(data, event, view, start) {
              var ini = start;
              var date = new Date(ini);
              var content = '<h3>'+data.title+'</h3>' + 
                '<p><b>Inicia:</b> '+data.start.format("DD/MM/YYYY ") +'<br />' + 
                '<p><b>Hora:</b>'+data.start.format(" h:mmA") + (" - ") + data.end.format("h:mmA") + '<br />' + 
                (data.end && '<p><b>Culmina:</b> '+data.end.format("DD/MM/YYYY") +'</p>' + 
                '<p><b>Descripcion:</b> '+data.description+'<br />' || '');

              tooltip.set({
                'content.text': content
              })
              .reposition(event).show(event);
            },
            dayClick: function() { tooltip.hide() },
            eventResizeStart: function() { tooltip.hide() },
            viewDisplay: function() { tooltip.hide() },

        
            events: [
                {% for i in Actividad %}
                {
                    title: "{{ i.nombr_acti }}",
                    start: '{{ i.fecha_inic|date:"d M Y " }} {{ i.hora_inico|time:"h:i: A" }}',
                    end: '{{ i.fecha_fina|date:"d M Y"}} {{ i.hora_final|time:"h:i: A" }}',
                    description: '{{ i.descripcio }}',
                    {% if i.status1 == True and i.status2 == False and i.status3 == False %}
                      backgroundColor:'#40B1FF'

                    {% elif i.status2 == True and i.status1 == True and i.status3 == True %}
                      color: '#CF9C1A'
                  {% elif i.status2 == True and i.status1 == False and i.status3 == False %}
                      color: '#CF9C1A'
                    {% elif i.status2 == True and i.status1 == False and i.status3 == True %}
                      color: '#CF9C1A'
                    {% elif i.status2 == True and i.status1 == True and i.status3 == False %}
                      color: '#CF9C1A'
                    {% elif i.status2 == True and i.status1 == False and i.status3 == False %}
                      color: '#CF9C1A'
                    
                    {% elif i.status3 == True %}
                      color: '#E63D51'
                    {% endif %}
                },
                {% endfor %}
            ],
        });

    });
</script>

{% endblock %}

{% block css %} 
  <link rel='stylesheet' type='text/css' href="{% static 'css/fullcalendar.css' %}" />
  <link rel='stylesheet' type='text/css' href="{% static 'css/jquery.qtip.min.css' %}" />
  <link rel='stylesheet' type='text/css' href="{% static 'css/custom.css' %}" />
{% endblock %}
