{% extends  'base.html' %}
{%block title%}Mision/Vision{% endblock title%}
{% load staticfiles %}

{% block content %}
<div class="container">
      <div class="row">
            <div class="box">
                <div class="col-md-12">
                    <div class="starter-template">
                        <hr>
                        <h2 class="intro-text text-center">
                            <strong>
                                <h1 class="titulo" align="center">Mision/Visión/Valores/Objetivos Estratégicos</h1>
                            </strong>
                        </h2>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

         
        <div class="col-sm-12 card">
            <div class="starter-template hola-1">
                <h4 align="center" class="lead"><b>OBJETIVOS ESTRATÉGICOS</b></h4>
            <p class="hola-1" align="justify">
                * Formar, fortalecer y desarrollar el potencial musical en niños desde la edad preescolar hasta el bachillerato. <br>
                * Realización de todas aquellas acciones de Orientación, Dirección, Coordinación, Supervisión y control que garanticen el cumplimiento de políticas, objetivo y metas que han sido establecidos por el directorio de la Fundación como máximo organismo rector de la misma. <br>
                * La realización de todas aquellas actividades que garanticen a la Fundación Orquesta Juvenil e Infantil modulo Guanare, contar oportunamente con los servicios de apoyo, tanto administrativos como financieros requeridos para el cabal cumplimiento de los objetivos y metas institucionales. <br>
                * La realización de todos los diseños e implementación de planes para programaciones y giras de la Orquesta a nivel estadal, regional y nacional. <br>* La realización de todas las acciones educativas sustantivas acorde con las políticas institucionales de la Fundación Orquesta Infantil y Juvenil modulo Guanare. <br>
                * La realización de todas las acciones operacionales destinadas a la formación de la población musical infantil y juvenil del estado. <br>
                * La realización de todas las acciones de tipo integral que brinden oportunidades de desarrollo y actualización de nuestros alumnos. <br>
                * La realización de las actividades de planificación, coordinación, dirección,supervisión y evaluación de cada una de las Cátedras que integran nuestra Orquesta. <br>
                * La realización de todas las acciones relacionadas con las funciones de selección, registro y clasificación de todo el personal docente y administrativo de nuestra Fundación. <br>
            </p>
            </div>
        </div>
        

        <div class="col-md-12 card">
            <div class="col-md-6">
                <div class="starter-template hola-1">
                    <h4 align="center" class="lead"><b> MISIÓN </b></h4>    
                <p class="hola-1" align="justify">
                    – Fomentar la difusión de la música clásica en todas sus formas de expresión, en cuanto a música en directo se refiere. <br>
                    – Contribuir a la propagación de la cultura musical en nuestro país y la transmisión de valores interculturales y de relaciones sociales, para incrementar el compromiso de la sociedad con la cultura como un valor en sí misma. <br>
                    – Difundir los valores artísticos vinculados a la música y otras artes y acercarlos a todos los públicos. <br>
                </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="starter-template hola-1">
                    <h4 align="center" class="lead"><b>VISIÓN</b></h4>
                <p class="" align="justify">
                    Queremos ser una organización reconocida en todo el territorio nacional, por su gran estabilidad y capacidad de organización de proyectos de gran calidad en el campo de la música clásica en directo, en concreto conciertos y representaciones de ópera y zarzuela, para todo tipo de públicos. <br>
                </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 card">
            <div class="starter-template hola-1">
                <h4 align="center" class="lead"><b>VALORES</b></h4>
            <p class="hola-1" align="justify center">
                CALIDAD – Amantes de los detalles <br>
                INNOVACIÓN – Siempre creativos <br>
                DIVULGACIÓN – Comprometidos con nuestra música <br>
            </p>
            </div>
        </div>
        
        
        <br>

</div>
{% endblock content %}