{% extends  'base.html' %}
{%block title%}Preguntas Frecuentes{% endblock title%}
{% load staticfiles %}

{% block content %}   
    <div class="container">
     <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <div class="starter-template">
                        <hr>
                        <h2 class="intro-text text-center">
                            <strong>
                                <h1 class="titulo">Preguntas Frecuentes</h1> 
                            </strong>
                        </h2>
                        <hr>
                    </div>
                </div>
        <div class="col-md-12">
          
        <div align="justify">
            
            
        <p class="card">Con la finalidad de responder a las inquietudes más frecuentes del público interesado en El Sistema, hemos elaborado un listado de preguntas frecuentes con sus respectivas respuestas para agilizar la atención al usuario. Estas abordan los temas de interés y las preguntas que recibimos con mayor frecuencia.

        <p class="card">
            <big><b>1- ¿Cuáles son los requisitos para ingresar en el Sistema Nacional de Orquestas y Coros Juveniles e Infantiles de Venezuela?</b></big>
            <br>
            Ingresar al Sistema de Orquestas y Coros es fácil, asequible y cómodo. Nuestro programa fue creado para que todos los niños y jóvenes venezolanos tengan acceso a la educación y disfrute de la música. Los interesados no tienen que presentar ninguna prueba de adminisión, tampoco existe una selección previa. Hay 285 núcleos de El Sistema en todo el territorio nacional a donde se puede acudir, dependiendo de la ubicación residencial del interesado.
            <br>
            <br>
            <big><b>Los requisitos son:</b></big>
            <br>
            -Llenar y completar la planilla de inscripción con los datos del interesado y de su representante. <br>
            -Llevar dos (2) fotografías carnet del interesado. <br>
            -Fotocopia de la partida de nacimiento, si no tiene cédula. <br>
            -Fotocopia de la cédula de identidad de cada uno de los representantes, o de uno de los representantes según sea el caso. <br>
            -El ingreso es gratuito, no hay matrículas ni mensualidades por pagar. <br>

        </p>
        <p class="card">
            <big><b>2- ¿En qué cátedras puedo estudiar música y cómo puedo elegir un instrumento musical?</b></big>
            <br>
            En El Sistema se le permite al talento incipiente experimentar, en una primera fase, con cantos, sonidos, palmadas, ritmos, flautas dulces, percusión, cuerdas y movimientos dentro de un coro. De esta manera, se empieza a canalizar la inclinación del niño hacia la orquesta sinfónica, la típica, o en ambas, o su participación en una agrupación coral.
            <br>
            <br>
            Poco a poco, el alumno se va familiarizando con una variada gama de instrumentos musicales para su posterior elección, la cual se realiza con los docentes especializados, quienes toman en cuenta el tamaño del niño, su contextura física, y su interés y/o vocación hacia un instrumento determinado. Seguidamente, el niño recibe clases de coro, teoría, iniciación a la orquesta, armonía, técnica y lenguaje musical.
            <br>
            <br>
            Actualmente, El Sistema cuenta con las cátedras instrumentales de violín, viola, violonchelo, contrabajo, flautas, oboes, clarinete, fagote, corno, trompeta, trombón, tuba, bombardino, percusión, arpa de pedal, arpa criolla, piano, órgano, cuatro, guitarra, mandolina, bandola, saxofón, coro, canto popular, canto lírico, dirección orquestal, dirección coral, composición.
        </p>
        <p class="card">
            <big><b>3- ¿Cómo puedo aprender a tocar un instrumento musical si no tengo los medios económicos para adquirirlo?</b></big>
            <br>
            Para aprender a tocar un instrumento no se necesitan conocimientos previos y la formación en El Sistema es totalmente gratuita. Mediante la figura de comodato y en calidad de préstamo de uso gratuito, se entrega al alumno e integrante de la orquesta el instrumento musical que él ha seleccionado con las recomendaciones de un docente. Esto permite que el alumno pueda utilizarlo para su ejecución en los conciertos, ensayos y prácticas en grupos o individuales y, cuando el tamaño del instrumento lo permite, lo pueda llevar a su casa para ejercitar y estudiar. A medida que el niño se va desarrollando física y musicalmente, se le cambia el instrumento por otro adecuado a su estatura, siempre mediante la modalidad de comodato, lo que permite un ciclo de retroalimentación instrumental.
        </p>
        <p class="card">
            <big><b>4- ¿Qué beneficios obtiene mi representado si no desea convertirse en músico profesional, luego de estudiar en un núcleo de El Sistema y haber pertenecido a una de sus orquestas?</b></big>
            <br>
            Como bien lo define el maestro José Antonio Abreu, creador y fundador de El Sistema, “las orquestas y los coros son verdaderas escuelas para la vida, son terrenos fértiles para que los niños, niñas y adolescentes que en ellas conviven, cultiven sus aptitudes y actitudes, aprendan valores éticos, cívicos, estéticos, espirituales y sociales”.
            <br>
            <br>
            El Sistema Nacional de Orquestas y Coros Juveniles e Infantiles de Venezuela prepara a los niños para que sean hombres y mujeres exitosos, productivos y felices. Y todos aquellos que en algún momento de sus vidas han estudiado y participado en su estructura formadora, son hoy día profesionales, trabajadores, padres, madres y ciudadanos integrales. A través del estudio de la música, y al haber pertenecido a una orquesta o coro, aprendieron a ser tolerantes, solidarios, disciplinados, responsables, tenaces en la consecución de metas, líderes, competitivos y visionarios con su futuro y el de sus familias.
            <br>
            <br>
            Mediante los informes académicos de colegios y universidades se ha podido constatar que los jóvenes y niños que son alumnos de El Sistema aumentan su rendimiento estudiantil y sus actitudes de liderazgo y respeto hacia el entorno, mientras que disminuyen su grado de agresividad, actitudes depresivas y de descontrol emocional.
            <br>
            <br>
            Un estudio desarrollado por el Centro de Investigaciones Psicológicas de la Universidad de los Andes (institución a cargo de realizar el Plan de Evaluación de Impacto sobre los Beneficiarios de El Sistema solicitado por el Banco Interamericano de Desarrollo en 1998), arrojó que la escala de valores de El Sistema está dirigida hacia una mayor motivación al logro, seguida de una motivación hacia la afiliación y, por último, por la motivación al poder, todo lo cual extiende beneficios indirectos al grupo familiar y a la comunidad donde vive.
        </p>
        <p class="card">
            <big><b>5- ¿Qué oportunidades de desarrollo profesional y fuentes de trabajo se ofrecen en El Sistema para los que desean hacer carrera en la música?</b></big>
            <br>
            Hay un amplio abanico de posibilidades de formación musical, profesional y laboral en El Sistema, ya que los estudiantes y músicos de las orquestas y coros, se pueden desarrollar como docentes de música, ejecutantes, solistas, directores de orquestas y de coros, compositores, repertoristas y lutieres, así como gerentes y productores artísticos.
            <br>
            <br>
            En cuanto a la dirección orquestal y a los solistas, los jóvenes integrantes de las orquestas tienen prioridad y campo laboral seguro, ya que en un 90% de los conciertos intervienen solistas de las propias orquestas. Asimismo, El Sistema ofrece una plataforma a jóvenes creadores que se dediquen a la composición de nuevas obras las cuales, a su vez, son intepretadas por las orquestas. Por otra parte, una fuente de trabajo segura es la reparación y fabricación de instrumentos musicales, que tiene un mercado seguro en los miles de alumnos y músicos que tiene El Sistema.
            <br>
            <br>
            Gracias al conocimiento que alcanzan los alumnos de El Sistema sobre la actividad orquestal y musical acerca de la producción de conciertos, del funcionamiento interno de los núcleos y conservatorio, así como sobre la organización y logística de giras artísticas, éstos se convierten, en su gran mayoría, en gerentes de la Fundación Musical Simón Bolívar. Asimismo, el alto número de profesores de música que requiere El Sistema es una fuente de trabajo segura para sus alumnos, quienes tienen la posibilidad de obtener el grado académico expedido por la Cátedra de Música de la Universidad Nacional Experimental de las Artes (UNEARTE), así como complementar su formación con maestrías y doctorados en la Universidad Simón Bolívar de Venezuela, la Universidad Lisandro Alvarado, la Universidad Nacional Experimental del Táchira y el Instituto Pedagógico de Rubio.
        </p>
        </div>        
        </div>
    </div>
{% endblock content %}
